<!DOCTYPE html>
<html>
<header>
    <!--ZONA DEL NAVBAR-->
    <%- include('../navbar'); -%>
</header>
<script>
    function removeMessage() {
        localStorage.removeItem("message");
    }
</script>

<body class="row">
    <% if(typeof(status) !="undefined" ) { %>
        <% if(status==200) { %>
            <script>
                if (!localStorage.getItem("message")) {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: '<%-message%>',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    localStorage.setItem("message", 1);
                }  
            </script>
            <% }else if(status!=200){ %>
                <script>
                    if (!localStorage.getItem("message")) {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: '<%-message%>',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        localStorage.setItem("message", 1);
                    }  
                </script>
                <% } %>
                    <% } %>
                        <div class="col-1"></div>
                        <div class="col-10 card mt-1"
                            style="scrollbar-width: none !important; margin-left: 2%; margin-right: 2%; background-color: #e6e6e6;">
                            <!-- Menu desplegable con animacion -->
                            <div id="menu-container" class="menu-container">
                                <div id="menu" class="menu">
                                    <i id="expand" class="material-icons" style="font-size: 35px">menu_open</i>
                                </div>
                                <div class="flex-menu">
                                    <ul class="list-unstyled chat-list">
                                        <ul class="list-group list-group-flush button flex-color">
                                            <a onclick="window.location. href='/airConditioning/airConditioningShow/<%=company._id%>'"
                                                type="button" class="btn btn primary ">Mostrar emisión</a>
                                        </ul>
                                        <ul class="list-group list-group-flush button flex-color">
                                            <a href="/companies/createCompany" type="button"
                                                class="btn btn primary ">Agregar
                                                compañía</a>
                                        </ul>
                                        <ul class="list-group list-group-flush button flex-color">
                                            <a href="/companies/showCompany" type="button"
                                                class="btn btn primary ">Atrás</a>
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                            <!-- Content of form-->
                            <div class="row table-container">
                                <form action="/airConditioning/saveAirConditioning/<%=company._id%>" method="post"
                                    class="row" style="display: flex;">
                                    <div class="col-12">
                                        <h2 class="h2" style="margin-bottom: 1%;" >Módulo Aires Acondicionados:Agregar</h2>
                                    </div>
                                    <div style="margin-left: 1%; margin-right: 3%;" class="col-3">
                                        <p class="p" type="Ubicación: ">
                                            <input class="input p2" type="text" name="ubicacion" placeholder="Ubicación..."/>
                                        </p>
                                        <p class="p" type="Número de serie: ">
                                            <input class="input p2" type="text" name="serie" placeholder="Número de serie..."/>
                                        </p>
                                        <p class="p" type="Marca: ">
                                            <input class="input p2" type="text" name="marca" placeholder="Marca..."/>
                                        </p>
                                        <p class="p" type="Modelo: ">
                                            <input class="input p2" type="text" name="modelo" placeholder="Modelo..."/>
                                        </p>
                                        <p class="p" type="Capacidad (Btu): ">
                                            <input class="input p2" type="text" name="capacidad" placeholder="Capacidad..."/>
                                        </p>
                                    </div>
                                    <div class="col-3" style="margin-left: 1%;">
                                        <p class="p" type="Consumo (Amperaje): ">
                                            <input class="input p2" type="text" name="consumo" placeholder="Consumo..."/>
                                        </p>
                                        <p class="p" type="Refrigerante: ">
                                            <select class="p2" name="tipoRefrigerante" aria-placeholder="tipoRefrigerante"
                                                aria-label="Default select example">
                                                <option selected>Tipo de Refrigerante</option>
                                                <option value="410-A">410-A</option>
                                                <option value="R22">R22</option>
                                                <option value="HFC134a">HFC 134a</option>
                                                <option value="HFC152a">HFC 152a</option>
                                                <option value="R402a">R402a</option>
                                                <option value="R402b">R402b</option>
                                                <option value="R404a">R404a</option>
                                                <option value="R404B">R404B</option>
                                                <option value="R407c">R407c</option>
                                                <option value="R507">R507</option>
                                                <option value="R508B">R508B</option>
                                            </select>
                                        </p>
                                        <p class="p" type="Datos de emisión:">
                                            <select class="p2" style="padding-left: 3px; padding-bottom: 3px; margin-top: 10px;"
                                                name="gei" aria-placeholder="GEI" aria-label="Default select example">
                                                <option value="" disabled selected>Seleccione el GEI</option>
                                                <option value="HFC">HFC</option>
                                                <option value="HCFC">HCFC</option>
                                            </select>
                                        </p>
                                        <p class="p" type="Capacidad de confinamiento (Kg):">
                                            <input class="input p2" type="text" name="capacidadConfinamiento"
                                                class="form-control" placeholder="Capacidad de calentamiento..."/>
                                        </p>
                                        <!--<div>
                                            <label for="exampleInputEmail1" class="form-label">Fuga total (Kg)</label>
                                            <input type="text" name="fugaTotal" class="form-control" />
                                        </div>-->
                                        <p class="p" type="Potencial calentamiento
                                        (100 años):">
                                            <input class="input p2" type="text" name="potencialCalentamineto"
                                                class="form-control" placeholder="Potencial de calentamiento..."/>
                                        </p>
                                    </div>
                                    <div class="col-3" style="margin-left: 1%;">
                                        <p class="p" type="Aplicación:">
                                            <input class="input p2" type="text" name="aplicacion" class="form-control" placeholder="Aplicación..."/>
                                        </p>
                                        <p class="p" type="Tasa anual de fuga (%):">
                                            <input class="input p2" type="text" name="tasaAnualFuga" placeholder="Tasa anual de fuga..."
                                                class="form-control p2" />
                                        </p>
                                        <p class="p" type="PCG:">
                                            <input class="input p2" type="text" pattern="^[0-9]+\.?[0-9]*$"
                                                oninvalid="this.setCustomValidity('Este campo es obligatorio, no se permite el uso de comas, caracteres especiales, espacios o letras')"
                                                oninput="this.setCustomValidity('')" autocomplete="off"
                                                placeholder="PCG..." name="pcg" class="form-control" required="true" />
                                        </p>
                                        <!-- <div>
                                            <label for="exampleInputEmail1" class="form-label">Total R410a HCFC (ton)2</label>
                                            <input type="text" name="totalHCFC" class="form-control" />
                                        </div>
                                        <div>
                                            <label for="exampleInputEmail1" class="form-label">Total R22 HCFC (ton)</label>
                                            <input type="text" name="totalR22" class="form-control" />
                                        </div>
                                        <div>
                                            <label for="exampleInputEmail1" class="form-label">Total CO2 e (Ton) R410 HFC</label>
                                            <input type="text" name="totalCO2" class="form-control" />
                                        </div>-->
                                        <p class="p" type="Factor emision:">
                                            <input type="text" class="input p2" placeholder="Factor emision..."
                                                name="factor_emision" required>
                                        </p>
                                    </div>
                                    <div onclick="removeMessage()" class="btnContainer" style="margin-bottom: 0.5%;">
                                        <input type="submit" name="CompanyController" class="btn btn-success"
                                            value="Guardar">
                                        <button type="button" class="btn btn-danger">
                                            <a href='/companies/showCompany'>Cancelar</a>
                                        </button>

                                    </div>
                                </form>
                            </div>

                        </div>
                        </div>
</body>
<footer class="bg-light text-center text-lg-start footer" style="margin-top: 0.3%;">
    <!-- Copyright -->
    <div class="text-center p-4" >
        © 2022 Copyright: Porras & Vásquez
    </div>
    <!-- Copyright -->
</footer>

</html>