<!DOCTYPE html>
<html>
<header>
    <!--ZONA DEL NAVBAR-->
    <%- include('../navbar'); -%>
</header>

<body style="background-color: #f4ffec;">
    <div class="mt-2 mb-2" style="margin-left: 5%; margin-right: 5%;">
        <form action="/airConditioning/updateAirConditioning/<%=airConditioning._id%>" method="post" class="newGas row "
            style="background-color: #beb39c;">
            <h3>Módulo de Aires acondicionados: Editar</h3>

            <div class="col-3">
                <div >
                    <label for="exampleInputEmail1" class="form-label">Ubicacion</label>
                    <input  type="text" value="<%=airConditioning.ubicacion%>" name="ubicacion" class="form-control" />
                </div>
                <div>
                    <label for="exampleInputEmail1" class="form-label">Numero de serie</label>
                    <input type="text" value="<%=airConditioning.serie%>" name="serie" class="form-control" />
                </div>
                <div>
                    <label for="exampleInputEmail1" class="form-label">Marca</label>
                    <input type="text" value="<%=airConditioning.marca%>" name="marca" class="form-control" />
                </div>
                <div>
                    <label for="exampleInputEmail1" class="form-label">Modelo</label>
                    <input type="text" value="<%=airConditioning.modelo%>" name="modelo" class="form-control" />
                </div>
                <div>
                    <label for="exampleInputEmail1" class="form-label">Capacidad</label>
                    <input type="text" value="<%=airConditioning.capacidad%>" name="capacidad" class="form-control" />
                </div>
                <div>
                    <label for="exampleInputEmail1" class="form-label">Consumo</label>
                    <input type="text" value="<%=airConditioning.consumo%>" name="consumo" class="form-control" />
                </div>

            </div>
            <div class="col-3">
                <div>
                    <label for="exampleInputEmail1" class="form-label">Refrigerante</label>
                    <select name="tipoRefrigerante" aria-placeholder="tipoRefrigerante" class="form-select" aria-label="Default select example">
                        <option selected><%=airConditioning.tipoRefrigerante%></option>
                        <option value="410-A">410-A</option>
                        <option value="R22">R22</option>
                        <option value="HFC134a">HFC 134a</option>
                        <option value="HFC152a">HFC 152a</option>
                        <option value="R402a">R402a</option>
                        <option value="R402b">R402b</option>
                        <option value="R404a">R404a</option>
                        <option value="R404B">R404B</option>
                        <option value="R407c">R407c</option>
                        <option value="R410a">R410a</option>
                        <option value="R507">R507</option>
                        <option value="R508B">R508B</option>
                      </select>
                </div>
                <div>
                    <label for="exampleInputEmail1" class="form-label">Capacidad de confinamiento</label>
                    <input type="text" value="<%=airConditioning.capacidadConfinamiento%>" name="capacidadConfinamiento" class="form-control" />
                </div>
                <div>
                    <label for="exampleInputEmail1" class="form-label">Aplicacion</label>
                    <input type="text" value="<%=airConditioning.aplicacion%>" name="aplicacion" class="form-control" />
                </div>
                <div>
                    <label for="exampleInputEmail1" class="form-label">Tasa anual de fuga</label>
                    <input type="text" value="<%=airConditioning.tasaAnualFuga%>" name="tasaAnualFuga" class="form-control" />
                </div>
                <div>
                    <label for="exampleInputEmail1" class="form-label">Potencial calentamiento (100 años)</label>
                    <input type="text" value="<%=airConditioning.potencialCalentamineto%>" name="potencialCalentamineto" class="form-control" />
                </div>
            </div>
            
            <div class="btnContainer mb-4" style="margin-left: 1.7%;">
                <input type="submit"class="btn btn-success" value="Actualizar">
                <button type="button" class="btn btn-danger">
                    <a href='/companies/showCompany'>Cancelar</a>
                </button>

            </div>
        </form>
    </div>
    <div class="col-2"></div>
    </div>
</body>

</html>