<!DOCTYPE html>
<html lang="en">
<header>
    <!--ZONA DEL NAVBAR-->
    <%- include('../navbar'); -%>
</header>

<body style="background-color: #f4ffec;">
    <div class="card mt-2 mb-2" style="margin-left: 2%; margin-right: 2%; background-color: #beb39c;">
        <div class="mt-2 mb-2 " style="margin-left: 2.5%;">
            <h3>Combustibles y lubricantes</h3>
            <div class=" col-10 row text-dark">
                <table class="table table-bordered col-8" style="background-color: white;">
                    <thead class="col-8">
                        <tr>
                            <th scope="col"> Combustible</th>
                          <!--  <th scope="col">Categoria de fuente de seleccion</th>-->
                            <th scope="col">FE Co2/l</th>
                            <th scope="col">FE CH4/l</th>
                            <th scope="col">FE N20/l</th>
                           <!-- <th scope="col">Componente</th>-->
                            <th scope="col">Enero</th>
                            <th scope="col">Febrero</th>
                            <th scope="col">Marzo</th>
                            <th scope="col">Abril</th>
                            <th scope="col">Mayo</th>
                            <th scope="col">Junio</th>
                            <th scope="col">Julio</th>
                            <th scope="col">Agosto</th>
                            <th scope="col">Septiembre</th>
                            <th scope="col">Octubre</th>
                            <th scope="col">Noviembre</th>
                            <th scope="col">Diciembre</th>
                            <th scope="col">Emisión</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% fuelsAndOils.forEach((fuelsAndOil)=>{ %>
                            <tr>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=fuelsAndOil.combustible%>
                                    </div>
                                </td>
                            <!--    <td>
                                    <div style="padding: 2%;">
                                        <%=fuelsAndOil.categoria_seleccion%>
                                    </div>
                                </td>-->
                                <td>
                                    <div style="padding: 2%;">
                                        <%=fuelsAndOil.feCo2_L%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=fuelsAndOil.feCH4_L%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=fuelsAndOil.feN20_L%>
                                    </div>
                                </td>
                               <!-- <td>
                                    <div style="padding: 2%;">
                                        <%=fuelsAndOil.componente%>
                                    </div>
                                </td>-->
                                <td>
                                    <div style="padding: 2%;">
                                        <%=fuelsAndOil.enero%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=fuelsAndOil.febrero%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=fuelsAndOil.marzo%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=fuelsAndOil.abril%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=fuelsAndOil.mayo%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=fuelsAndOil.junio%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=fuelsAndOil.julio%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=fuelsAndOil.agosto%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=fuelsAndOil.septiembre%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=fuelsAndOil.octubre%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=fuelsAndOil.noviembre%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=fuelsAndOil.diciembre%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        none
                                    </div>
                                </td>
                                <td>
                                    <div id="contenedor">
                                        <div id="boton">
                                            <button type="link" class="btn btn-success btn-sm"
                                                onclick="window.location. href='/fuelsAndOil/searchFuelsAndOil/<%=fuelsAndOil._id%>'"><i
                                                    class="material-icons">menu</i>
                                            </button>

                                        <form action="/fuelsAndOil/deleteFuelsAndOil/<%=fuelsAndOil._id%>/<%=fuelsAndOil.company%>"
                                            method="post">
                                            <button type="danger" class="btn btn-danger btn-sm"><i
                                                    class="material-icons">delete</i></button>
                                        </form>    

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-1" style="margin-left: 1.5%;">
                <button type="button" style="margin-left: 2%;" class="btn btn-success mb-3">
                    <a href="/companies/createCompany">Agregar</a>
                </button>
            </div>
            <div class="col-1" style="margin-left: -1%;">
                <button type="button" style="margin-left: 2%;" class="btn btn-danger mb-3"
                    href="/companies/showCompany">
                    <a href="/companies/showCompany">Regresar</a>
                </button>
            </div>
        </div>


    </div>

    <div class="col-2"></div>
    </div>
</body>

</html>