<!DOCTYPE html>
<html lang="en">
<header>
    <!--ZONA DEL NAVBAR-->
    <%- include('../navbar'); -%>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
</header>
<script>
    function removeMessage(){
        localStorage.removeItem("message");
    }
</script>
<body style="background-color: #f4ffec; height: 100vh !important;">
    <% if(typeof(status) !="undefined" ) { %>
        <% if(status==200 ) { %>
            <script>
                if (!localStorage.getItem("message")) {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: '<%-message%>',
                        showConfirmButton: false,
                        timer: 2000
                    });
                    localStorage.setItem("message", 1);
                }
            </script>
            <% }else if(status!=200 ){ %>
                <script>
                    if (!localStorage.getItem("message")) {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: '<%-message%>',
                            showConfirmButton: false,
                            timer: 2000
                        });
                        localStorage.setItem("message", 1);
                    }                                
                </script>
                <% } %>
                    <% } %>
    <div class="card mt-2 mb-2x"
        style="min-height: 86.5% !important; scrollbar-width: none !important; margin-left: 2%; margin-right: 2%; background-color: #c5dfbe;">
        <div id="menu-container" class="menu-container">
            <div id="menu" class="menu">
                <i id="expand" class="material-icons" style="font-size: 35px">menu_open</i>
            </div>
            <div class="flex-menu">
                <ul class="list-unstyled chat-list  mb-0">
                    <ul class="list-group list-group-flush button flex-color">
                        <a onclick="window.location. href='/fuelsAndOil/fuelsAndOilsearchcompany/<%=company._id%>'"
                            type="button" class="btn btn primary ">Agregar emisión</a>
                    </ul>
                    <ul class="list-group list-group-flush button flex-color">
                        <a href="/companies/createCompany" type="button" class="btn btn primary ">Agregar
                            compañía</a>
                    </ul>
                    <ul class="list-group list-group-flush button flex-color">
                        <a href="/companies/showCompany" type="button" class="btn btn primary ">Atrás</a>
                    </ul>
                </ul>
            </div>
        </div>
        <div class="row text-dark table-responsive table-container"
            style="margin-left: 0.5%; margin-bottom: 0.5%; scrollbar-width: none !important;">
            <h3>Combustibles y lubricantes: Mostrar</h3>

            <button onclick="ExportToExcel('xlsx')">Export table to excel</button>
            <table id="tablax" class="table-bordered"  style="background-color: white;">
                <thead style="background-color: rgba(26,145,125,255);">
                    <tr>
                        <td colspan="15" class="table-active text-center"><b style="color: #f4ffec;">CONSUMO DE COMBUSTIBLES DE: <%=comp%></b> </td>
                      </tr>
                    <tr class="text-center">
                        <th scope="col"> Combustible</th>
                        <th scope="col">Enero</th>
                        <th scope="col">Febrero</th>
                        <th scope="col">Marzo</th>
                        <th scope="col">Abril</th>
                        <th scope="col">Mayo</th>
                        <th scope="col">Junio</th>
                        <th scope="col">Julio</th>
                        <th scope="col">Agosto</th>
                        <th scope="col">Septiembre</th>
                        <th scope="col">Octubre</th>
                        <th scope="col">Noviembre</th>
                        <th scope="col">Diciembre</th>
                        <th scope="col">total</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <% fuelsAndOils.forEach((fuelsAndOil)=>{ %>
                        <tr class="text-center tr">
                            <td>
                                <div style="padding-left: 1%;">
                                    <%=fuelsAndOil.combustible%>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <%=fuelsAndOil.enero%>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <%=fuelsAndOil.febrero%>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <%=fuelsAndOil.marzo%>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <%=fuelsAndOil.abril%>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <%=fuelsAndOil.mayo%>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <%=fuelsAndOil.junio%>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <%=fuelsAndOil.julio%>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <%=fuelsAndOil.agosto%>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <%=fuelsAndOil.septiembre%>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <%=fuelsAndOil.octubre%>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <%=fuelsAndOil.noviembre%>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <%=fuelsAndOil.diciembre%>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <%=fuelsAndOil.emision%>
                                </div>
                            </td>
                            <td>
                                <div id="contenedor">
                                    <div id="boton">
                                        <button type="link" class="btn btn-success btn-sm"
                                            onclick="window.location. href='/fuelsAndOil/searchFuelsAndOil/<%=fuelsAndOil._id%>'"><i
                                                class="material-icons">menu</i>
                                        </button>

                                        <form
                                            action="/fuelsAndOil/deleteFuelsAndOil/<%=fuelsAndOil._id%>/<%=fuelsAndOil.company%>/<%=fuelsAndOil.combustible%>"
                                            method="post">
                                            <button type="danger" onclick="removeMessage()" class="btn btn-danger btn-sm"><i
                                                    class="material-icons">delete</i></button>
                                        </form>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        <% }) %>
                        <td class="text-center">Total</td>
                        <td class="text-center"><%=enero%></td>
                        <td class="text-center"><%=febrero%></td>
                        <td class="text-center"><%=marzo%></td>
                        <td class="text-center"><%=abril%></td>
                        <td class="text-center"><%=mayo%></td>
                        <td class="text-center"><%=junio%></td>
                        <td class="text-center"><%=julio%></td>
                        <td class="text-center"><%=agosto%></td>
                        <td class="text-center"><%=septiembre%></td>
                        <td class="text-center"><%=octubre%></td>
                        <td class="text-center"><%=noviembre%></td>
                        <td class="text-center"><%=diciembre%></td>
                            <td>
                                <div class="text-center">
                                    <%=sumatoria%>
                                </div>
                            </td>

                </tbody>
            </table>

        </div>
    </div>

    <div class="col-2"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
    </script>
<!-- DATATABLES -->
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">
</script>
<!-- BOOTSTRAP -->
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js">
</script>
    
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/excellentexport@3.4.3/dist/excellentexport.min.js"></script>
<script>
function ExportToExcel(type, fn, dl) {
       var elt = document.getElementById('tablax');
       var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
       return dl ?
         XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }):
         XLSX.writeFile(wb, fn || ('Emisiones de la compañia '+'<%=comp%>.' + (type || 'xlsx')));
    }
</script>

</body>

</html>