<!DOCTYPE html>
<html>
<header>
    <!--ZONA DEL NAVBAR-->
    <%- include('../navbar'); -%>
</header>
<script>
    function removeMessage(){
        localStorage.removeItem("message");
    }
</script>
<body style="background-color: #f4ffec; height: 100vh !important">
    <% if(typeof(status) !="undefined" ) { %>
        <% if(status==200) { %>
            <script>
                if (!localStorage.getItem("message")) {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: '<%-message%>',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    localStorage.setItem("message", 1);
                }  
            </script>
        <% }else if(status!=200){ %>
                <script>
                    if (!localStorage.getItem("message")) {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: '<%-message%>',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        localStorage.setItem("message", 1);
                    }  
                </script>
        <% } %>
    <% } %>
                        <div class="card mt-2"
                            style="min-height: 86.5% !important; scrollbar-width: none !important; margin-left: 2%; margin-right: 2%; background-color: #c5dfbe;">
                            <div id="menu-container" class="menu-container">
                                <div id="menu" class="menu">
                                    <i id="expand" class="material-icons" style="font-size: 35px">menu_open</i>
                                </div>
                                <div class="flex-menu">
                                    <ul class="list-unstyled chat-list  mb-0">
                                        <ul class="list-group list-group-flush button flex-color">
                                            <a onclick="window.location. href='/fuelsAndOil/fuelsAndOilShow/<%=company._id%>'"
                                                type="button" class="btn btn primary ">Mostrar emisión</a>
                                        </ul>
                                        <ul class="list-group list-group-flush button flex-color">
                                            <a href="/companies/createCompany" type="button"
                                                class="btn btn primary ">Agregar
                                                compañía</a>
                                        </ul>
                                        <ul class="list-group list-group-flush button flex-color">
                                            <a href="/companies/showCompany" type="button"
                                                class="btn btn primary ">Atrás</a>
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                            <div class="row text-dark table-container"
                                style="margin-left: 0.5%; margin-bottom: 0.5%; scrollbar-width: none !important;">
                                <form action="/fuelsAndOil/saveFuelsAndOil/<%=company._id%>" method="post" class="newGas row "
                                    style="margin-left: 5%;">
                                    <h2 style="margin-bottom: 1%;">Módulo Combustibles y lubricantes: Agregar</h2>
                                    <div class="col-3">
                                        <select name="combustible" class="form-select" aria-label="Default select example">
                                            <option selected>Combustible/Lubricante</option>
                                            <option value="Gasolina">Gasolina</option>
                                            <option value="Diesel">Diesel</option>
                                            <option value="Aceite 2t/4t">Aceite 2t/4t</option>
                                          </select>

                                    </div>
                                    <div class="col-md-3 mb-1 text-center">
                                        <input type="text" pattern="^[0-9]+\.?[0-9]*$" oninvalid="this.setCustomValidity('Este campo es obligatorio, no se permite el uso de comas, caracteres especiales, espacios o letras')"
                                        oninput="this.setCustomValidity('')" autocomplete="off" placeholder="Factor de emisión" name="factor" class="textarea form-control" required="true"/>
                                    </div>
                                    <div class="col-3">

                                        <select name="gei" aria-placeholder="GEI" class="form-select" aria-label="Default select example">
                                            <option selected>Tipo de emision</option>
                                            <option value="CO2">CO2</option>
                                            <option value="CH4">CH4</option>
                                            <option value="N20">N20</option>
                                          </select>
                                    </div>
                                    <div class="col-2">
                                        <input type="text" pattern="^[0-9]+\.?[0-9]*$" oninvalid="this.setCustomValidity('No se permite el uso de comas, caracteres especiales, espacios o letras')"
                                        oninput="this.setCustomValidity('')" autocomplete="off" placeholder="PCG" name="pcg" class="form-control" required="true"/>
                                    </div>
                                    <div class=" col-4 row text-dark"
                                        style="background-color: #ffffff; margin-left: 1%;margin-top: 4%; margin-bottom: 5%;">
                                        <h3 class="mt-2">
                                            Consumo de litros por mes
                                        </h3>
                                        <div class="col-md-3 mb-1 text-center">
                                            <label for="exampleInputEmail1" class="form-label text">Enero</label>
                                            <input type="text" pattern="^[0-9]+\.?[0-9]*$" oninvalid="this.setCustomValidity('Este campo es obligatorio, no se permite el uso de comas, caracteres especiales, espacios o letras')"
                                            oninput="this.setCustomValidity('')" autocomplete="off" name="enero" class="textarea form-control" required="true"/>
                                        </div>
                                        <div class="col-md-3 mb-1 text-center">
                                            <label for="exampleInputEmail1" class="form-label">Febrero</label>
                                            <input type="text" pattern="^[0-9]+\.?[0-9]*$" oninvalid="this.setCustomValidity('Este campo es obligatorio, no se permite el uso de comas, caracteres especiales, espacios o letras')"
                                            oninput="this.setCustomValidity('')" autocomplete="off" name="febrero" class="textarea form-control" required="true"/>
                                        </div>
                                        <div class="col-md-3 mb-1 text-center">
                                            <label for="exampleInputEmail1" class="form-label">Marzo</label>
                                            <input type="text" pattern="^[0-9]+\.?[0-9]*$" oninvalid="this.setCustomValidity('Este campo es obligatorio, no se permite el uso de comas, caracteres especiales, espacios o letras')"
                                            oninput="this.setCustomValidity('')" autocomplete="off" name="marzo" class="textarea form-control" required="true"/>
                                        </div>
                                        <div class="col-md-3 mb-1 text-center">
                                            <label for="exampleInputEmail1" class="form-label">Abril</label>
                                            <input type="text" pattern="^[0-9]+\.?[0-9]*$" oninvalid="this.setCustomValidity('Este campo es obligatorio, no se permite el uso de comas, caracteres especiales, espacios o letras')"
                                            oninput="this.setCustomValidity('')" autocomplete="off" name="abril" class="textarea form-control" required="true"/>
                                        </div>
                                        <div class="col-md-3 mb-1 text-center">
                                            <label for="exampleInputEmail1" class="form-label">Mayo</label>
                                            <input type="text" pattern="^[0-9]+\.?[0-9]*$" oninvalid="this.setCustomValidity('Este campo es obligatorio, no se permite el uso de comas, caracteres especiales, espacios o letras')"
                                            oninput="this.setCustomValidity('')" autocomplete="off" name="mayo" class="textarea form-control" required="true"/>
                                        </div>
                                        <div class="col-md-3 mb-1 text-center">
                                            <label for="exampleInputEmail1" class="form-label">Junio</label>
                                            <input type="text" pattern="^[0-9]+\.?[0-9]*$" oninvalid="this.setCustomValidity('Este campo es obligatorio, no se permite el uso de comas, caracteres especiales, espacios o letras')"
                                            oninput="this.setCustomValidity('')" autocomplete="off" name="junio" class="textarea form-control" required="true"/>
                                        </div>
                                        <div class="col-md-3 mb-1 text-center">
                                            <label for="exampleInputEmail1" class="form-label">Julio</label>
                                            <input type="text" pattern="^[0-9]+\.?[0-9]*$" oninvalid="this.setCustomValidity('Este campo es obligatorio, no se permite el uso de comas, caracteres especiales, espacios o letras')"
                                            oninput="this.setCustomValidity('')" autocomplete="off" name="julio" class="textarea form-control" required="true"/>
                                        </div>
                                        <div class="col-md-3 mb-1 text-center">
                                            <label for="exampleInputEmail1" class="form-label">Agosto</label>
                                            <input type="text" pattern="^[0-9]+\.?[0-9]*$" oninvalid="this.setCustomValidity('Este campo es obligatorio, no se permite el uso de comas, caracteres especiales, espacios o letras')"
                                            oninput="this.setCustomValidity('')" autocomplete="off" name="agosto" class="textarea form-control" required="true"/>
                                        </div>
                                        <div class="col-md-3 mb-1 text-center">
                                            <label for="exampleInputEmail1" class="form-label">Septiembre</label>
                                            <input type="text" pattern="^[0-9]+\.?[0-9]*$" oninvalid="this.setCustomValidity('Este campo es obligatorio, no se permite el uso de comas, caracteres especiales, espacios o letras')"
                                            oninput="this.setCustomValidity('')" autocomplete="off" name="septiembre" class="textarea form-control" required="true"/>
                                        </div>
                                        <div class="col-md-3 mb-1 text-center">
                                            <label for="exampleInputEmail1" class="form-label">Octubre</label>
                                            <input type="text" pattern="^[0-9]+\.?[0-9]*$" oninvalid="this.setCustomValidity('Este campo es obligatorio, no se permite el uso de comas, caracteres especiales, espacios o letras')"
                                            oninput="this.setCustomValidity('')" autocomplete="off" name="octubre" class="textarea form-control" required/>
                                        </div>
                                        <div class="col-md-3 mb-1 text-center">
                                            <label for="exampleInputEmail1" class="form-label">Noviembre</label>
                                            <input type="text" pattern="^[0-9]+\.?[0-9]*$" oninvalid="this.setCustomValidity('Este campo es obligatorio, no se permite el uso de comas, caracteres especiales, espacios o letras')"
                                            oninput="this.setCustomValidity('')" autocomplete="off" name="noviembre" class="textarea form-control" required="true"/>
                                        </div>
                                        <div class="col-md-3 mb-1 text-center">
                                            <label for="exampleInputEmail1" class="form-label">Diciembre</label>
                                            <input type="text" pattern="^[0-9]+\.?[0-9]*$" oninvalid="this.setCustomValidity('Este campo es obligatorio, no se permite el uso de comas, caracteres especiales, espacios o letras')"
                                            oninput="this.setCustomValidity('')" autocomplete="off" name="diciembre" class="textarea form-control" required="true"/>
                                        </div>
                                    </div>
                                    <div class="btnContainer mb-4">
                                        <input onclick="removeMessage()" type="submit" name="CompanyController" class="btn btn-success"
                                            value="Guardar">
                                        <button type="button" class="btn btn-danger">
                                            <a href='/companies/showCompany'>Cancelar</a>
                                        </button>

                                    </div>
                                </form>
                            </div>

                        </div>
                        </div>
</body>

</html>