<!DOCTYPE html>
<html>
<header>
    <!--ZONA DEL NAVBAR-->
    <%- include('../navbar'); -%>
</header>

<body style="background-color: #f4ffec;">
    <div class="mt-2 mb-2" style="margin-left: 5%; margin-right: 5%;">
        <form action="/fuelsAndOil/updateFuelsAndOil/<%=fuelsAndOil._id%>" method="post" class="newGas row "
            style="background-color: #beb39c;">
            <h3>Módulo de Gases LP: Editar</h3>
            <div class="col-3">
                <div class="mb-2">
                    <label class="form-label">Combustible</label>
                    <input  type="text" name="combustible" class="form-control" value="<%=fuelsAndOil.combustible%>" required/>
                </div>
            </div>
            <div class=" col-4 row text-dark" style="background-color: #ffffff; margin-left: 6%;">
                <h3 class="mt-2">
                    Consumo de litros por mes
                </h3>
                <div class="col-md-3 mb-1 text-center">
                    <label for="exampleInputEmail1" class="form-label text">Enero</label>
                    <input type="text" name="enero" class="textarea form-control" value="<%=fuelsAndOil.enero%>" required/>
                </div>
                <div class="col-md-3 mb-1 text-center">
                    <label for="exampleInputEmail1" class="form-label">Febrero</label>
                    <input type="text" name="febrero" class="textarea form-control" value="<%=fuelsAndOil.febrero%>" required/>
                </div>
                <div class="col-md-3 mb-1 text-center">
                    <label for="exampleInputEmail1" class="form-label">Marzo</label>
                    <input type="text" name="marzo" class="textarea form-control" value="<%=fuelsAndOil.marzo%>" required/>
                </div>
                <div class="col-md-3 mb-1 text-center">
                    <label for="exampleInputEmail1" class="form-label">Abril</label>
                    <input type="text" name="abril" class="textarea form-control" value="<%=fuelsAndOil.abril%>" required/>
                </div>
                <div class="col-md-3 mb-1 text-center">
                    <label for="exampleInputEmail1" class="form-label">Mayo</label>
                    <input type="text" name="mayo" class="textarea form-control" value="<%=fuelsAndOil.mayo%>" required/>
                </div>
                <div class="col-md-3 mb-1 text-center">
                    <label for="exampleInputEmail1" class="form-label">Junio</label>
                    <input type="text" name="junio" class="textarea form-control" value="<%=fuelsAndOil.junio%>" required/>
                </div>
                <div class="col-md-3 mb-1 text-center">
                    <label for="exampleInputEmail1" class="form-label">Julio</label>
                    <input type="text" name="julio" class="textarea form-control" value="<%=fuelsAndOil.julio%>" required/>
                </div>
                <div class="col-md-3 mb-1 text-center">
                    <label for="exampleInputEmail1" class="form-label">Agosto</label>
                    <input type="text" name="agosto" class="textarea form-control" value="<%=fuelsAndOil.agosto%>" required/>
                </div>
                <div class="col-md-3 mb-1 text-center">
                    <label for="exampleInputEmail1" class="form-label">Septiembre</label>
                    <input type="text" name="septiembre" class="textarea form-control" value="<%=fuelsAndOil.septiembre%>" required/>
                </div>
                <div class="col-md-3 mb-1 text-center">
                    <label for="exampleInputEmail1" class="form-label">Octubre</label>
                    <input type="text" name="octubre" class="textarea form-control" value="<%=fuelsAndOil.octubre%>" required/>
                </div>
                <div class="col-md-3 mb-1 text-center">
                    <label for="exampleInputEmail1" class="form-label">Noviembre</label>
                    <input type="text" name="noviembre" class="textarea form-control" value="<%=fuelsAndOil.noviembre%>" required/>
                </div>
                <div class="col-md-3 mb-1 text-center">
                    <label for="exampleInputEmail1" class="form-label">Diciembre</label>
                    <input type="text" name="diciembre" class="textarea form-control" value="<%=fuelsAndOil.diciembre%>" required/>
                </div>
            </div>
            <div class="btnContainer mb-4" style="margin-left: 1.7%;">
                <input type="submit"class="btn btn-success" value="Actualizar">
                <button type="button" class="btn btn-danger">
                    <a href='/companies/showCompany'>Cancelar</a>
                </button>

            </div>
        </form>
    </div>
    <div class="col-2"></div>
    </div>
</body>

</html>