<html lang="en">
<header>
    <!--ZONA DEL NAVBAR-->
    <%- include('../navbar'); -%>
</header>

<body style="background-color: #f4ffec;">
    <div class="container mt-5">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card chat-app" style="background-color: #eef7e1;">
                    <div class="people-list ">
                        <div class="col-12 row mt-5">
                            <img style="margin-left: 4%;" src="/images/logov2.png" class="img">
                        </div>
                        <ul class="list-unstyled chat-list  mb-0">
                            <ul class="list-group list-group-flush button">
                                <a href="/companies/createCompany" type="button" class="btn btn primary ">Agregar
                                    compañía</a>
                            </ul>
                            <ul class="list-group list-group-flush button">
                                <a href="/companies/showCompany" type="button" class="btn btn primary ">Vista de
                                    compañía</a>
                            </ul>
                            <div class="col-12 mb-5"></div>
                        </ul>
                    </div>
                        <% if(success_msg=="updated" ) { %>
                            <script>
                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: '¡Actualizado exitosamente!',
                                    showConfirmButton: false,
                                    timer: 2000
                                }).then(({ value }) => {
                                });
                            </script>
                            <% }else if(error_msg=="error_update" ){ %>
                                <script>
                                    Swal.fire({
                                        position: 'center',
                                        icon: 'error',
                                        title: '!Error al actualizar!',
                                        showConfirmButton: false,
                                        timer: 2000
                                    }).then(({ value }) => {
                                    });
                                </script>
                                <% } %>

                                 <% if(success_msg=="deleted" ) { %>
                                        <script>
                                            Swal.fire({
                                                position: 'center',
                                                icon: 'success',
                                                title: '!Eliminado correctamente!',
                                                showConfirmButton: false,
                                                timer: 1500
                                            }).then(({ value }) => {
                                            });
                                        </script>
                                        <% } else if(error_msg=="error_delete" ){ %>
                                            <script>
                                                Swal.fire({
                                                    position: 'center',
                                                    icon: 'error',
                                                    title: '!Error al eliminar!',
                                                    showConfirmButton: false,
                                                    timer: 2000
                                                }).then(({ value }) => {
                                                });
                                            </script>
                                            <% } %>

                                        <div class="chat mbs">
                                            <div class="container card-body col-3"
                                                style="margin-left: 3%; padding-bottom: 5%;">
                                                <h3 class="mt-3">Compañías</h3>

                                                <div class="col-12">
                                                    <tbody
                                                        style="background-color: rgb(243, 235, 224); font-size: 18px;">
                                                        <% companies.forEach((company)=>{ %>
                                                            <div>
                                                                <table class=""
                                                                    style="width: 85%; height: 100%; background-color: rgba(26,145,125,255);">
                                                                    <div class="card">
                                                                        <div class="card-header"
                                                                            style="background-color: rgba(26,145,125,255);">
                                                                            <%=company.tipo%>
                                                                        </div>
                                                                        <div class="card-body"
                                                                            style="background-color: rgb(243, 235, 224); font-size: 18px;">
                                                                            <h5 class="card-title">
                                                                                <%=company.nombre%>
                                                                            </h5>
                                                                            <p class="card-text">
                                                                                <%=company.descripcion%>
                                                                            </p>
                                                                        </div>
                                                                        <div
                                                                            style="background-color: rgb(243, 235, 224); font-size: 18px;">
                                                                            <form
                                                                                style="background-color: rgb(243, 235, 224); font-size: 18px;"
                                                                                action="/companies/deleteCompany/<%=company._id%>"
                                                                                method="post"><button type="danger "
                                                                                    class="btn btn-danger"><i
                                                                                        class="material-icons">delete</i></button>
                                                                            </form>
                                                                            <button type="link"
                                                                                class="btn btn-success edit btn"
                                                                                onclick="window.location. href='/companies/searchCompany/<%=company._id%>'"><i
                                                                                    class="material-icons">menu</i></button>
                                                                            <!-- Nuevo-->
                                                                            <button type="link"
                                                                                class="btn btn-warning edit btn" title="Ver cantidades de consumos"><a 
                                                                                    class="material-icons" onclick="window.location. href='/electricities/electricities/<%=company._id%>'">
                                                                                    fact_check
                                                                                </a></button>
                                                                            <button type="link"
                                                                                class="btn btn-warning edit btn" title="Agregar consumos"><a class="material-icons"
                                                                                    onclick="window.location. href='/electricities/electricity/<%=company._id%>'">
                                                                                    bolt
                                                                                </a></button>
                                                                        </div>
                                                                    </div>
                                                                </table>
                                                                <% }) %>
                                                            </div>
                                                    </tbody>

                                                </div>
                                            </div>
                                        </div>
                </div>
            </div>
        </div>
    </div>
</body>




</html>