<html lang="en">
<header>
    <!--ZONA DEL NAVBAR-->
    <%- include('../navbar'); -%>
        <link rel="stylesheet" type="text/css" href="/stylesheets/dropdownCompanyMain.css" />
</header>
<!--JS de menu de emisiones-->
<script>$(function () {
        $(".dropdown-menu > li > a.trigger").on("click", function (e) {
            var current = $(this).next();
            var grandparent = $(this).parent().parent();
            if ($(this).hasClass('left-caret') || $(this).hasClass('right-caret'))
                $(this).toggleClass('right-caret left-caret');
            grandparent.find('.left-caret').not(this).toggleClass('right-caret left-caret');
            grandparent.find(".sub-menu:visible").not(current).hide();
            current.toggle();
            e.stopPropagation();
        });
        $(".dropdown-menu > li > a:not(.trigger)").on("click", function () {
            var root = $(this).closest('.dropdown');
            root.find('.left-caret').toggleClass('right-caret left-caret');
            root.find('.sub-menu:visible').hide();
        });
    });</script>

<body style="background-color: #f4ffec;">
    <!--Mensajes de all company-->
    <% if(success_msg=="updated" ) { %>
        <script>
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: '¡Actualizado exitosamente!',
                showConfirmButton: false,
                timer: 2000
            }).then(({ value }) => {
            });
        </script>
        <% }else if(error_msg=="error_update" ){ %>
            <script>
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: '!Error al actualizar!',
                    showConfirmButton: false,
                    timer: 2000
                }).then(({ value }) => {
                });
            </script>
            <% } %>

                <% if(success_msg=="deleted" ) { %>
                    <script>
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: '!Eliminado correctamente!',
                            showConfirmButton: false,
                            timer: 1500
                        }).then(({ value }) => {
                        });
                    </script>
                    <% } else if(error_msg=="error_delete" ){ %>
                        <script>
                            Swal.fire({
                                position: 'center',
                                icon: 'error',
                                title: '!Error al eliminar!',
                                showConfirmButton: false,
                                timer: 2000
                            }).then(({ value }) => {
                            });
                        </script>
                        <% } %>
                            <div class="card mt-2 mb-2"
                                style="margin-left: 2%; margin-right: 2%; background-color: #beb39c;">
                                <div class="mt-2 mb-2 " style="margin-left: 2.5%;">
                                    <div class="col-x">
                                        <ul class="list-group list-group-flush button">
                                            <a href="/companies/createCompany" type="button"
                                                class="btn btn primary ">Agregar
                                                compañía</a>
                                        </ul>
                                        <div class="cards-container">
                                            <% companies.forEach((company)=>{ %>
                                                <div class="card-container">
                                                    <div class="card-header text-white"
                                                        style="background-color: rgba(26,145,125,255);">
                                                        <%=company.nombre%>
                                                    </div>
                                                    <div class="card-body"
                                                        style="background-color: rgb(243, 235, 224); font-size: 18px;">
                                                        <h5 class="card-title">
                                                            <%=company.tipo%>
                                                        </h5>
                                                        <h5 class="card-textx">
                                                            <%=company.descripcion%>
                                                        </h5>
                                                        <div class="card-menu">
                                                            <div id="options" class="options">
                                                                <i id="expand" class="material-icons">expand_more</i>
                                                            </div>
                                                            <div class="botons-container" id="botons-container"
                                                                style="background-color: rgb(243, 235, 224); font-size: 18px;">
                                                                <form
                                                                    style="background-color: rgb(243, 235, 224); font-size: 18px;"
                                                                    action="/companies/deleteCompany/<%=company._id%>"
                                                                    method="post" class="btn-company"><button type="danger "
                                                                        class="btn btn-danger"><i class="material-icons"
                                                                            title="Eliminar">delete</i></button>
                                                                </form>
                                                                <div class="btn-company">
                                                                    <button type="link" class="btn btn-success"
                                                                    title="Editar compañía"
                                                                    onclick="window.location. href='/companies/searchCompany/<%=company._id%>'"><i
                                                                        class="material-icons">edit</i></button>
                                                                </div>
                                                                <div class="dropdown btn-company">
                                                                    <a href="#" class="btn btn-primary material-icons"
                                                                        title="Menú de emisiones"
                                                                        data-toggle="dropdown">folder_copy
                                                                        <span class="caret"></span></a>
                                                                    <ul class="dropdown-menu">
                                                                        <li>
                                                                            <a
                                                                                class="trigger right-caret text-black">Electricidad</a>
                                                                            <ul class="dropdown-menu sub-menu">
                                                                                <li><a class="dropdown-item"
                                                                                        href='/electricities/electricity/<%=company._id%>'>Agregar</a>
                                                                                </li>
                                                                                <li> <a class="dropdown-item"
                                                                                        href='/electricities/electricities/<%=company._id%>'>Mostrar</a>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                        <li>
                                                                            <a class="trigger right-caret text-black">Gases
                                                                                LP</a>
                                                                            <ul class="dropdown-menu sub-menu">
                                                                                <li><a class="dropdown-item"
                                                                                        href='/gaseslp/gasessearchcompany/<%=company._id%>'>Agregar</a>
                                                                                </li>
                                                                                <li> <a class="dropdown-item"
                                                                                        href='/gaseslp/gasesshow/<%=company._id%>'>Mostrar</a>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% }) %>
                                        </div>

                                    </div>
                                </div>
                            </div>
</body>

</html>