<!DOCTYPE html>
<html>
<header>
    <!--ZONA DEL NAVBAR-->
    <%- include('../navbar'); -%>
</header>

<body style="background-color: #f4ffec;">
    <div class="container mt-5" style="padding-bottom: 20%;">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card chat-app" style="background-color: #beb39c;">
                    <div class="people-list">
                        <div class="col-12 row mt-5">
                            <img style="margin-left: 4%;" src="/images/logov2.png" class="img">
                        </div>
                        <ul class="list-unstyled chat-list  mb-0">
                            <ul class="list-group list-group-flush button">
                                <a href="/companies/createCompany" type="button" class="btn btn primary ">Agregar compañía</a>
                            </ul>
                            <ul class="list-group list-group-flush button">
                                <a href="/companies/showCompany" type="button" class="btn btn primary ">Vista de compañía</a>
                            </ul>
                            <div class="col-12 mb-5"></div>
                        </ul>
                    </div>
                    <div class="chat" style="padding-bottom: 20%; ">
                        <div style="margin-right: 20%;">
                            <div class="container">
                                <h3>Editar compañía</h3>
                                <form action="/companies/updateCompany/<%=company._id%>" method="post">
                                    <div class="col-6">
                                        <div class="mb-2">
                                            <label for="exampleInputEmail1" class="form-label">No. Documento</label>
                                            <input type="text" name="numero_documento" class="form-control"
                                            value="<%=company.numero_documento%>" required />
                                        </div>
                                        <div class="mb-2">
                                            <label for="exampleInputEmail1" class="form-label">Nombre</label>
                                            <input type="text" name="nombre" class="form-control"
                                            value="<%=company.nombre%>" required />
                                        </div>
                                        <div class="mb-2">
                                            <label for="exampleInputEmail1" class="form-label">Tipo de compañía</label>
                                            <input type="text" name="tipo" list="typecompany" class="form-control" value="<%=company.tipo%>">
                                            <datalist id="typecompany" >
                                                <option value="Industrial" class="form-control">
                                                <option value="Comercial" class="form-control">
                                                <option value="Hotelera" class="form-control">
                                                <option value="Agricola" class="form-control">
                                                <option value="Ganadera" class="form-control">
                                            </datalist>
                                        </div>
                                        <div class="mb-2">
                                            <label for="exampleInputEmail1" class="form-label">Aprobado por:</label>
                                            <input type="text" name="aprobado_por" class="form-control"
                                            value="<%=company.aprobado_por%>" required />
                                        </div>
                                        <div class="mb-2">
                                            <label for="exampleInputEmail1" class="form-label">Revisado por:</label>
                                            <input type="text" name="revisado_por" class="form-control"
                                            value="<%=company.revisado_por%>" required />
                                        </div>
                                        <div class="mb-2">
                                            <label for="exampleInputEmail1" class="form-label">Fecha elaboración:</label>
                                            <input type="date" id="start" name="fecha_elaboracion" value="<%=company.fecha_elaboracion%>"
                                                class="form-control" required />
    
    
                                        </div>
                                        <div class="mb-2">
                                            <label for="exampleInputEmail1" class="form-label">Fecha actualización:</label>
                                            <input type="date" id="start" name="fecha_actualizacion" value="<%=company.fecha_actualizacion%>"
                                                class="form-control" required />
                                        </div>
                                        <div class="mb-2">
                                            <label for="exampleInputEmail1" class="form-label">Descripción:</label>
                                            <input type="text" name="descripcion" class="form-control"
                                            value="<%=company.descripcion%>" required />
                                        </div>
                                        <div class="btnContainer mb-4">
                                            <td colspan="2"><button class="btn btn-success" type="submit">Actualizar</button></td>
                                            <button type="button" class="btn btn-danger">
                                                <a href="/companies/showCompany" type="button">Cancelar</a>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>