<!DOCTYPE html>
<html lang="en">
<header>
    <!--ZONA DEL NAVBAR-->
    <%- include('../navbar'); -%>
</header>

<body style="background-color: #f4ffec; height: 100vh !important;">
    <% if(typeof(message) !="undefined" ) { %>
        <% if(message=="success" ) { %>
            <script>
                if (!localStorage.getItem("message")) {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: '¡Realizado exitosamente!',
                        showConfirmButton: false,
                        timer: 2000
                    });
                    localStorage.setItem("message", 1);
                }
            </script>
            <% }else if(message=="error" ){ %>
                <script>
                    if (!localStorage.getItem("message")) {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: '¡Lo sentimos, ocurrió un error!',
                            showConfirmButton: false,
                            timer: 2000
                        });
                        localStorage.setItem("message", 1);
                    }                                
                </script>
                <% } %>
            <% } %>
                        <div class="card mt-2 mb-2x"
                            style="min-height: 86.5% !important; scrollbar-width: none !important; margin-left: 2%; margin-right: 2%; background-color: #c5dfbe;">
                            <div id="menu-container" class="menu-container">
                                <div id="menu" class="menu">
                                    <i id="expand" class="material-icons" style="font-size: 35px">menu_open</i>
                                </div>
                                <div class="flex-menu">
                                    <ul class="list-unstyled chat-list  mb-0">
                                        <ul class="list-group list-group-flush button flex-color">
                                            <a onclick="window.location. href='/electricities/electricity/<%=company%>'"
                                                type="button" class="btn btn primary ">Agregar reporte</a>
                                        </ul>
                                        <ul class="list-group list-group-flush button flex-color">
                                            <a href="/companies/createCompany" type="button"
                                                class="btn btn primary ">Agregar compañía</a>
                                        </ul>
                                        <ul class="list-group list-group-flush button flex-color">
                                            <a href="/companies/showCompany" type="button"
                                                class="btn btn primary ">Atrás</a>
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                            <div class="row text-dark table-responsive table-container" style="margin-left: 0.5%; margin-bottom: 0.5%; scrollbar-width: none !important;">
                                <!--Table-->
                                <table class="table-bordered" style="background-color: white;">
                                    <!--Table head-->
                                    <thead>
                                        <tr>
                                            <th>Título</th>
                                            <th>Fuente de reporte</th>
                                            <th>Unidad de medida</th>
                                            <th>Última actualización</th>
                                            <th>Observación</th>
                                            <th>Acción</th>
                                        </tr>
                                    </thead>
                                    <!--Table head-->
                                    <!--Table body-->
                                    <tbody>
                                        <% electricities.forEach((electricity)=>{ %>
                                            <tr>
                                                <td><%=electricity.titulo%></td>
                                                <td><%=electricity.fuente_reporte%></td>
                                                <td><%=electricity.unidad_medida%></td>
                                                <td><%=electricity.ultima_update%></td>
                                                <td><%=electricity.observacion%></td>
                                                <td></td>
                                            </tr>
                                        <% }) %>
                                    </tbody>
                                    <!--Table body-->
                                </table>
                                <!--Table-->
                            </div>
                        </div>
</body>

</html>