<!DOCTYPE html>
<html lang="en">
<header>
    <!--ZONA DEL NAVBAR-->
    <%- include('../navbar'); -%>
</header> 
<body style="background-color: #f4ffec;" onload="abreventana()">
    <% if(typeof(message) !="undefined" ) { %>
        <% if(message=="success" ) { %>
            <script>
                if (!localStorage.getItem("message")) {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: '¡Realizado exitosamente!',
                        showConfirmButton: false,
                        timer: 2000
                    });
                    localStorage.setItem("message", 1);
                }
            </script>
        <% }else if(message=="error" ){ %>
            <script>
                if (!localStorage.getItem("message")) {
                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: '¡Lo sentimos, ocurrió un error!',
                        showConfirmButton: false,
                        timer: 2000
                    });
                    localStorage.setItem("message", 1);
                }                                
            </script>
        <% } %>
    <% } %>
    <div class="container mt-5">

                    <div class="chat mbs">
                        <div class="container card-body col-3">
                            <h3 class="mt-3">Reportes de electricidad</h3>
                            <div class="col-12">
                                <tbody style="background-color: rgb(243, 235, 224); font-size: 18px;">
                                    <div>
                                        <% electricities.forEach((electricity)=>{ %>
                                            <table class="" style="width: 85%; height: 100%; background-color: rgba(26,145,125,255);">
                                                <div class="card">
                                                    <div class="card-header" style="background-color: rgba(26,145,125,255);">
                                                        <%=electricity.fuente_reporte%>
                                                    </div>
                                                    <div class="card-body" style="background-color: rgb(243, 235, 224); font-size: 18px;">
                                                        <h5 class="card-title">
                                                            <%=electricity.unidad_medida%>
                                                        </h5>
                                                        <p class="card-text">
                                                            <%=electricity.observacion%>
                                                        </p>
                                                    </div>
                                                    <div style="background-color: rgb(243, 235, 224); font-size: 18px;">
                                                        <form style="background-color: rgb(243, 235, 224); font-size: 18px;"
                                                                    action="/electricities/deleteElectricity/<%=electricity._id%>/<%=electricity.company%>" method="post">
                                                            <button type="danger "
                                                                class="btn btn-danger"><i 
                                                                class="material-icons">delete</i>
                                                            </button>
                                                        </form>
                                                        <button type="link"
                                                            class="btn btn-success edit btn"
                                                            onclick="window.location. href='/electricities/searchElectricity/<%=electricity._id%>'"><i
                                                            class="material-icons">menu</i>
                                                        </button>
                                                        <button type="link"
                                                            class="btn btn-warning edit btn" title="Agregar medidor"><a class="material-icons"
                                                        onclick="window.location. href='/electricities/newMeter/<%=electricity._id%>/<%=electricity.company%>'">
                                                speed</a>
                                            </button>
                                            <button type="link"
                                                class="btn btn-warning edit btn" title="Ver medidores"><a class="material-icons"
                                                onclick="window.location. href='/electricities/meters/<%=electricity._id%>'">
                                                view_module</a>
                                            </button>
                                        </div>
                                    </div>
                                </table>
                            <% }) %>
                        </div>
                    </tbody>
                </div>
            </div>
        </div>
    </div>
</body>

</html>