<!DOCTYPE html>
<html lang="en">
<header>
    <!--ZONA DEL NAVBAR-->
    <%- include('../navbar'); -%>
</header>
<script>
    function removeMessage(){
        localStorage.removeItem("message");
    }
</script>
<body style="background-color: #f4ffec; height: 100vh !important;">
    <% if(typeof(status) !="undefined" ) { %>
        <% if(status==200 ) { %>
            <script>
                if (!localStorage.getItem("message")) {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: '<%-message%>',
                        showConfirmButton: false,
                        timer: 2000
                    });
                    localStorage.setItem("message", 1);
                }
            </script>
            <% }else if(status!=200 ){ %>
                <script>
                    if (!localStorage.getItem("message")) {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: '<%-message%>',
                            showConfirmButton: false,
                            timer: 2000
                        });
                        localStorage.setItem("message", 1);
                    }                                
                </script>
                <% } %>
                    <% } %>
                        <div class="card mt-2 mb-2x"
                            style="min-height: 86.5% !important; scrollbar-width: none !important; margin-left: 2%; margin-right: 2%; background-color: #c5dfbe;">
                            <div id="menu-container" class="menu-container">
                                <div id="menu" class="menu">
                                    <i id="expand" class="material-icons" style="font-size: 35px">menu_open</i>
                                </div>
                                <div class="flex-menu">
                                    <ul class="list-unstyled chat-list  mb-0">
                                        <ul class="list-group list-group-flush button flex-color">
                                            <a href="/electricities/electricity/<%=company%>"
                                                type="button" class="btn btn primary ">Agregar reporte</a>
                                        </ul>
                                        <ul class="list-group list-group-flush button flex-color">
                                            <a href="/companies/createCompany" type="button"
                                                class="btn btn primary ">Agregar compañía</a>
                                        </ul>
                                        <ul class="list-group list-group-flush button flex-color">
                                            <a href="/companies/showCompany" type="button"
                                                class="btn btn primary ">Atrás</a>
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                            <div class="row text-dark table-responsive table-container"
                                style="margin-left: 0.5%; margin-bottom: 0.5%; scrollbar-width: none !important;">
                                <!--Table-->
                                <table class="table-bordered" style="background-color: white;">
                                    <!--Table head-->
                                    <thead style="background-color: rgba(26,145,125,255);">
                                        <tr class="text-center">
                                            <th scope="col text-whitex">Título</th>
                                            <th scope="col text-whitex">Fuente de reporte</th>
                                            <th scope="col text-whitex">Unidad de medida</th>
                                            <th scope="col text-whitex">Última actualización</th>
                                            <th scope="col text-whitex">Factir de emisión</th>
                                            <th scope="col text-whitex">Total</th>
                                            <th scope="col text-whitex">Acción</th>
                                        </tr>
                                    </thead>
                                    <!--Table head-->
                                    <!--Table body-->
                                    <tbody>
                                        <% electricities.forEach((electricity)=>{ %>
                                            <tr class="text-center tr">
                                                <td>
                                                    <div>
                                                        <%=electricity.titulo%>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <%=electricity.fuente_reporte%>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <%=electricity.unidad_medida%>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <%=electricity.ultima_update%>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <%=electricity.factor_emision%>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <%=electricity.total%>
                                                    </div>
                                                </td>
                                                <td id="container"
                                                    style="width: 300px; padding-left: 2%; padding-right: 2%;">
                                                    <div id="boton">
                                                        <div class="btn-electricity">
                                                            <form style="font-size: 18px;"
                                                                action="/electricities/deleteElectricity/<%=electricity._id%>/<%=electricity.company%>"
                                                                method="post">
                                                                <button type="danger" onclick="removeMessage()" class="btn btn-danger">
                                                                    <i class="material-icons">delete</i>
                                                                </button>
                                                            </form>
                                                        </div>
                                                        <div class="btn-electricity">
                                                            <button type="link" class="btn btn-success"
                                                                onclick="window.location. href='/electricities/editElectricity/<%=electricity._id%>'">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                        </div>
                                                        <div class="btn-electricity">
                                                            <button type="link" class="btn btn-warning edit"
                                                                title="Agregar medidor">
                                                                <a class="material-icons"
                                                                    onclick="window.location. href='/electricities/newMeter/<%=electricity._id%>/<%=electricity.company%>'">
                                                                    speed
                                                                </a>
                                                            </button>
                                                        </div>
                                                        <div class="btn-electricity">
                                                            <button type="link" class="btn btn-warning"
                                                                title="Ver medidores">
                                                                <a class="material-icons"
                                                                    onclick="window.location. href='/electricities/meters/<%=electricity._id%>'">
                                                                    view_module
                                                                </a>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                    <!--Table body-->
                                </table>
                                <!--Table-->
                            </div>
                        </div>
</body>

</html>