<!DOCTYPE html>
<html lang="en">
<header>
    <!--ZONA DEL NAVBAR-->
    <%- include('../navbar'); -%>
</header>
<body style="background-color: #f4ffec;">
    <div class="container mt-5">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card chat-app" style="background-color: #eef7e1;">
                    <div class="people-list ">
                        <div class="col-12 row mt-5">
                            <img style="margin-left: 4%;" src="/images/logov2.png" class="img">
                        </div>
                        <ul class="list-unstyled chat-list  mb-0">
                            <ul class="list-group list-group-flush button">
                                <a href="/electricities/ShowElectricity" type="button" class="btn btn primary ">Mostrar consultas</a>
                            </ul>
                            <ul class="list-group list-group-flush button">
                                <a href="/electricities/createElectricity" type="button" class="btn btn primary ">Agregar reporte electricidad</a>
                            </ul>
                            <div class="col-12 mb-5"></div>
                        </ul>
                    </div>
        <div class="chat mbs" style="margin-left: 25%;">
            <div class=" table container">
                <h1 class="mt-3 ml-2">Lista de Electricidad</h1>
                <table>
                    <thead style="background-color: rgb(76, 50, 15); font-size: 18px;">
                        <tr>
                            <th scope="col" class="text-white ">Medidor</th>
                            <th style="padding: 1%;" scope="col" class="text-white">Titulo</th>
                            <th scope="col" class="text-white ">NISE</th>
                            <th scope="col" class="text-white ">Unidad de Medida</th>
                            <th scope="col" class="text-white ">Fuente Reporte</th>
                            <th scope="col" class="text-white ">Ubicación</th>
                            <th scope="col" style="text-align: center;" class="text-white ">Mes</th>
                            <th style="text-align: center;" class="text-white ">Observación</th>
                            <th scope="col" class="text-white ">Total</th>
                            <th scope="col" class="text-white "></th>
                            <th scope="col" class="text-white "></th>
                        </tr>
                    </thead>
                    <tbody style="background-color: rgb(243, 235, 224); font-size: 18px;">
                        <% electricities.forEach((electricity)=>{ %>
                            <tr>
                                <td>
                                    <div style="padding: 2%;"><%=electricity.medidor%></div>
                                </td>
                                <td>
                                    <div style="padding: 2%;"><%=electricity.titulo%></div>
                                </td>
                                <td>
                                    <div style="padding: 2%;"><%=electricity.nise%></div>
                                </td>
                                <td>
                                    <div style="padding: 2%;"><%=electricity.unidad_medida%></div>
                                </td>
                                <td>
                                    <div style="padding: 2%;"><%=electricity.fuente_reporte%></div>
                                </td>
                                <td>
                                    <div style="padding: 2%;"><%=electricity.ubicacion%></div>
                                </td>
                                <td>
                                    <div style=" text-align: center;"><%=electricity.mes%></div>
                                </td>
                                <td>
                                    <div style="padding: 2%; text-align: center;"><%=electricity.observacion%></div>
                                </td>
                                <td>
                                    <div style="text-align: center;"><%=electricity.total%></div>
                                </td>
                                <td>
                                    <form action="/electricities/deleteElectricity/<%=electricity._id%>" method="post">
                                        <button type="danger " class="btn btn-danger"><i class="material-icons">delete</i></button>
                                    </form>
                                </td>
                                <td>
                                    <button type="link" class="btn btn-success editbtn " onclick="window.location. 
                                    href=' /electricities/searchElectricity/<%=electricity._id%>'"><i class="material-icons">menu</i></button>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>