<!DOCTYPE html>
<html lang="en">
<header>
    <!--ZONA DEL NAVBAR-->
    <%- include('../navbar'); -%>
</header>
<body style="background-color: #f4ffec;">
    
    <table>
        <thead style="background-color: rgb(76, 50, 15); font-size: 18px;">
            <tr>
                <th scope="col" class="text-white ">Medidor</th>
                <th style="padding: 1%;" scope="col" class="text-white">Titulo</th>
                <th scope="col" class="text-white ">NISE </th>
                <th scope="col" class="text-white ">Unidad de Medida</th>
                <th scope="col" class="text-white ">Fuente Reporte</th>
                <th scope="col" class="text-white ">Ubicación</th>
                <th style="text-align: center;" class="text-white">Observación </th>
                <th scope="col" class="text-white ">Enero</th>
                <th scope="col" class="text-white ">Febrero</th>
                <th scope="col" class="text-white ">Marzo</th>
                <th scope="col" class="text-white ">Abril</th>
                <th scope="col" class="text-white ">Mayo</th>
                <th scope="col" class="text-white ">Junio</th>
                <th scope="col" class="text-white ">Julio</th>
                <th scope="col" class="text-white ">Agosto</th>
                <th scope="col" class="text-white ">Septiembre</th>
                <th scope="col" class="text-white ">Octubre</th>
                <th scope="col" class="text-white ">Noviembre</th>
                <th scope="col" class="text-white ">Diciembre</th>
                <th scope="col" class="text-white ">Total</th>
                <th scope="col" class="text-white "></th>
                <th scope="col" class="text-white "></th> 
            </tr>
        </thead>
        <tbody style="background-color: rgb(243, 235, 224); font-size: 18px;">
            <% electricities.forEach((electricity)=>{ %>
                <tr>

                    <td>
                        <div style="padding: 2%;"><%=electricity.titulo%></div>
                    </td>
                    <td>
                        <div style="padding: 2%;"><%=electricity.nise%></div>
                    </td>
                    <td>
                        <div style="padding: 2%;"><%=electricity.unidad_medida%></div>
                    </td>
                    <td>
                        <div style="padding: 2%;"><%=electricity.fuente_reporte%></div>
                    </td>
                    <td>
                        <div style="padding: 2%;"><%=electricity.ubicacion%></div>
                    </td>
                    <td>
                        <div style="padding: 2%; text-align: center;"><%=electricity.observacion%></div>
                    </td>
                 
                    <td>
                        <form action="/electricities/deleteElectricity/<%=electricity._id%>" method="post">
                            <button type="danger " class="btn btn-danger"><i class="material-icons">delete</i></button>
                        </form>
                    </td>
                    <td>
                        <button type="link" class="btn btn-success editbtn " onclick="window.location. 
                        href=' /electricities/searchElectricity/<%=electricity._id%>'"><i class="material-icons">menu</i></button>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</body>

</html>