<!DOCTYPE html>
<html lang="en">
<header>
    <!--ZONA DEL NAVBAR-->
    <%- include('../navbar'); -%>
</header>
<body style="background-color: #f4ffec; height: 100vh !important;">
    <% if(typeof(message) !="undefined" ) { %>
        <% if(message=="success" ) { %>
            <script>
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: '¡Realizado exitosamente!',
                    showConfirmButton: false,
                    timer: 2000
                });
            </script>
        <% }else if(message=="error" ){ %>
            <script>
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: '¡Lo sentimos, ocurrió un error!',
                    showConfirmButton: false,
                    timer: 2000
                });
            </script>
        <% } %>
    <% } %>
    <div class="card mt-2 mb-2x" style="min-height: 86.5% !important; scrollbar-width: none !important; margin-left: 2%; margin-right: 2%; background-color: #c5dfbe;">
        <div id="menu-container" class="menu-container">
            <div id="menu" class="menu">
                <i id="expand" class="material-icons" style="font-size: 35px">menu_open</i>
            </div>
            <div class="flex-menu">
                <ul class="list-unstyled chat-list  mb-0">
                    <ul class="list-group list-group-flush button">
                        <a onclick="window.location. href='/electricities/newMeter/<%=electricity._id%>/<%=company%>'" type="button" class="btn btn primary ">Agregar
                            medidor</a>
                    </ul>
                    <ul class="list-group list-group-flush button">
                        <a onclick="window.location. href='/electricities/electricity/<%=company%>'" type="button" class="btn btn primary ">Agregar
                            reporte</a>
                    </ul>
                    <ul class="list-group list-group-flush button">
                        <a href="/companies/showCompany" type="button" class="btn btn primary ">Vista de
                            compañía</a>
                    </ul>
                    <ul class="list-group list-group-flush button">
                        <a href="/electricities/electricities/<%=company%>" type="button" class="btn btn primary ">Atrás</a>
                    </ul>
                </ul>
            </div>
        </div>
        <div class="row text-dark table-responsive table-container" style="margin-left: 0.5%; margin-bottom: 0.5%; scrollbar-width: none !important;">
            <table class="table-bordered" style="background-color: white;">
                <!--Table head-->
                <thead style="background-color: rgba(26,145,125,255);">
                    <tr class="text-center">
                        <th scope="col text-whitex">Nrc</th>
                        <th scope="col text-whitex">Tipo</th>
                        <th scope="col text-whitex">Medida</th>
                        <th scope="col text-whitex">Acción</th>
                    </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
                <tbody>
                    <% electricity.medidor.forEach((meter)=>{ %>
                        <tr class="text-center tr">
                            <td>
                                <div>
                                    <%=meter.nrc%>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <%=meter.type%>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <%=meter.medida%>
                                </div>
                            </td>
                            <td id="container" style="width: 300px; padding-left: 2%; padding-right: 2%;">
                                <div id="boton">
                                    <div class="btn-electricity">
                                        <form style="background-color: rgb(243, 235, 224); font-size: 18px;"
                                                action="/electricities/deleteMeter/<%=electricity._id%>/<%=meter._id%>" method="post">
                                            <button type="danger " 
                                                class="btn btn-danger"><i 
                                                class="material-icons">delete</i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="btn-electricity">
                                        <button type="link"
                                            class="btn btn-success edit btn"
                                            onclick="window.location. href='/electricities/editMeter/<%=electricity._id%>/<%=meter._id%>'"><i
                                            class="material-icons">menu</i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
                <!--Table body-->
            </table>
        </div>
    </div>
</body>

</html>