<!DOCTYPE html>
<html>
    <header>
        <!--ZONA DEL NAVBAR-->
        <%- include('../navbar'); -%> 
    </header>
    <script>
        function removeMessage(){
            localStorage.removeItem("message");
        }
    </script>
    <body style="background-color: #f4ffec; height: 100vh !important;">
        <% if(typeof(status) !="undefined" ) { %>
            <% if(status==200) { %>
                <script>
                    if (!localStorage.getItem("message")) {
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: '<%-message%>',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        localStorage.setItem("message", 1);
                    }  
                </script>
            <% }else if(status!=200){ %>
                    <script>
                        if (!localStorage.getItem("message")) {
                            Swal.fire({
                                position: 'center',
                                icon: 'error',
                                title: '<%-message%>',
                                showConfirmButton: false,
                                timer: 1500
                            });
                            localStorage.setItem("message", 1);
                        }  
                    </script>
            <% } %>
        <% } %>
        <div class="card mt-2"
            style="min-height: 86.5% !important; scrollbar-width: none !important; margin-left: 2%; margin-right: 2%; background-color: #c5dfbe;">
            <div id="menu-container" class="menu-container">
                <div id="menu" class="menu">
                    <i id="expand" class="material-icons" style="font-size: 35px">menu_open</i>
                </div>
                <div class="flex-menu">
                    <ul class="list-unstyled chat-list  mb-0">
                        <ul class="list-group list-group-flush button">
                            <a href="/electricities/electricities/<%=company._id%>" type="button" class="btn btn primary ">Vista de reportes</a>
                        </ul>
                        <ul class="list-group list-group-flush button">
                            <a href="/companies/showCompany" type="button" class="btn btn primary ">Atras</a>
                        </ul>
                    </ul>
                </div>
            </div>
            <div class="row text-dark table-container"
                style="margin-left: 0.5%; margin-bottom: 0.5%; scrollbar-width: none !important;">
                <form action="/electricities/saveElectricity/<%=company._id%>" method="post" class="newElectricity row" style="margin-left: 5%;">
                    <h2 style="margin-bottom: 1%;">M贸dulo Electricidad: Agregar</h2>
                    <div class="col-3">
                        <div class="mb-2">
                            <label for="exampleInputEmail1" class="form-label">Titulo</label>
                            <input type="text" name="titulo" class="form-control" required />
                        </div>
                        <div class="mb-2">
                            <label for="exampleInputEmail1" class="form-label">Fuente Reporte</label>
                            <input type="text" name="fuente_reporte" class="form-control" required />
                        </div>
                        <div class="mb-2">
                            <label for="exampleInputEmail1" class="form-label">Unidad de medida</label>
                            <select name="unidad_medida" class="form-select" aria-label="Default select example">
                                <option disabled selected value="">Seleccione</option>
                                <option value="Kilowatts">Kilowatts</option>
                            </select>
                        </div>
                        <div class="btnContainer mb-4" style="margin-top: 5%;">
                            <input type="submit" onclick="removeMessage()" name="CompanyController" class="btn btn-success" value="Guardar">
                            <button type="button" class="btn btn-danger">
                                <a href="/electricities/electricities/<%=company._id%>" type="button">Cancelar</a>
                            </button>
                        </div>
                    </div> 
                    <div class="col-3">
                        <div class="mb-2">
                            <label for="exampleInputEmail1" class="form-label">Ultima actualizaci贸n</label>
                            <input type="date" id="start" name="ultima_update" value="yyyy-mm-dd" class="form-control" required/>
                        </div>
                        <div class="mb-2">
                            <label for="exampleInputEmail1" class="form-label">Factor de emisi贸n</label>
                            <input type="text" name="factor_emision" class="form-control" required />
                        </div>
                        <div class="mb-2">
                            <label for="exampleInputEmail1" class="form-label">Datos emisi贸n general</label>
                            <select name="gei" aria-placeholder="GEI" class="form-select" aria-label="Default select example">
                                <option value="" disabled selected>Seleccione el GEI</option>
                                <option value="CO2">CO2</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <input type="number" step="0.001" min="0" autocomplete="off" placeholder="PCG" name="pcg" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
        </div>   
    </body>
</html>