<!DOCTYPE html>
<html>
<header>
    <!--ZONA DEL NAVBAR-->
    <%- include('../navbar'); -%>
</header>
<body style="background-color: #f4ffec;">
    <div class="container mt-5" style="padding-bottom: 20%;">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card chat-app" style="background-color: #beb39c;">
                    <div class="people-list">
                        <div class="col-12 row mt-5">
                            <img style="margin-left: 4%;" src="/images/logov2.png" class="img">
                        </div>
                        <ul class="list-unstyled chat-list  mb-0">
                            <ul class="list-group list-group-flush button">
                                <a href="/electricities/electricity/<%=company%>" type="button" class="btn btn primary ">Agregar reporte electricidad</a>
                            </ul>
                            <ul class="list-group list-group-flush button">
                                <a href="/electricities/electricities" type="button" class="btn btn primary ">Vista de reportes electricidad</a>
                            </ul>
                            <div class="col-12 mb-5"></div>
                        </ul>
                    </div>
                    <div class="chat" style="padding-bottom: 20%; ">
                        <div style="margin-right: 20%;">
                            <div class="container">
                                <h3>Editar electricidad</h3>
                                <form action="/electricities/updateElectricity/<%=electricity._id%>" method="post">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>Titulo: </td>
                                                <td><input class="form-control"  type="text" name="titulo" value="<%=electricity.titulo%>" /></td>
                                            </tr>
                                            <tr>
                                                <td>Observación: </td>
                                                <td><input class="form-control"  type="text" name="observacion" value="<%=electricity.observacion%>" /></td>
                                            </tr>
                                            <tr>
                                                <td>Unidad de Medida: </td>
                                                <td><input class="form-control"  type="text" name="unidad_medida" value="<%=electricity.unidad_medida%>" /></td>
                                            </tr>
                                            <tr>
                                                <td>Fuente Reporte: </td>
                                                <td><input class="form-control"  type="text" name="fuente_reporte" value="<%=electricity.fuente_reporte%>" /></td>
                                            </tr>
                                            <tr>
                                                <td colspan="1">
                                                    <button class="btn btn-success" type="submit">Actualizar</button>
                                                    <button class="btn btn-danger" type="button"><a href="/electricities/electricities">Cancelar</a></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>