<!DOCTYPE html>
<html>
<header>
    <!--ZONA DEL NAVBAR-->
    <%- include('../navbar'); -%>
</header>

<body style="background-color: #f4ffec;">
    <div class="container mt-5">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card chat-app" style="background-color: #eef7e1;">
                    <% if(typeof(message) !="undefined" ) { %>
                        <% if(message=="success" ) { %>
                            <script>
                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: '¡Realizado exitosamente!',
                                    showConfirmButton: false,
                                    timer: 1500
                                }).then(({ value }) => {
                                });
                            </script>
                            <% }else if(message=="error" ){ %>
                                <script>
                                    Swal.fire({
                                        position: 'center',
                                        icon: 'error',
                                        title: '¡Realizado exitosamente!',
                                        showConfirmButton: false,
                                        timer: 1500
                                    }).then(({ value }) => {
                                    });
                                </script>
                                <% } %>
                                    <% } %>
                                        <div class=" table container">
                                            <div class="row">
                                                <div class="col-3">
                                                    <h1 class="mt-3">Lista de usuarios</h1>
                                                </div>
                                                <div class="btn-group col-5 mb-3 mt-3" role="group"
                                                    aria-label="Basic checkbox toggle button group">
                                                        <button  class="btn btn-success text-black" type="submit"><a href="/users/search">Perfil</a></button>
                                                        <button  class="btn btn-success text-black" type="submit"><a href="/users/create">Nuevo usuario</a></button>
                                                        <button  class="btn btn-success text-black" type="submit"><a href="/users/show">Usuarios</a></button>
                                                </div>
                                            </div>
                                            <table style="width: 85%; height: 100%;">
                                                <thead style="background-color: rgb(76, 50, 15); font-size: 18px;">
                                                    <tr>

                                                        <th style="padding: 2%;" scope="col" class="text-white ">Usuario
                                                        </th>
                                                        <th scope="col" class="text-white ">Correo</th>
                                                        <th scope="col" class="text-white "></th>
                                                        <th scope="col" class="text-white "></th>
                                                    </tr>
                                                </thead>
                                                <tbody style="background-color: rgb(243, 235, 224); font-size: 18px;">
                                                    <% users.forEach((user)=>{ %>
                                                        <tr class="tr">
                                                            <td>
                                                                <div style="padding: 2%;">
                                                                    <%=user.username%>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div style="padding: 2%;">
                                                                    <%=user.email%>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <form action="/users/delete/<%=user._id%>"
                                                                    method="post">
                                                                    <button type="danger " class="btn btn-danger"><i
                                                                            class="material-icons">delete</i></button>
                                                                </form>
                                                            </td>
                                                            <td>
                                                                <button type="link" class="btn btn-success editbtn "
                                                                    onclick="window.location. href='/users/search/<%=user._id%>'"><i
                                                                        class="material-icons">menu</i></button>
                                                            </td>

                                                        </tr>
                                                        <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>