<!DOCTYPE html>
<html>
<header>
    <!--ZONA DEL NAVBAR-->
    <%- include('../navbar'); -%>
</header>

<body style="background-color: #f4ffec;">
    <div class="card mt-2 mb-2" style="margin-left: 2%; margin-right: 2%; background-color: #beb39c;">
        <% if(success_msg=="updated" ) { %>
            <script>
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: '¡Actualizado exitosamente!',
                    showConfirmButton: false,
                    timer: 1500
                }).then(({ value }) => {
                });
            </script>
            <% }else if(error_msg=="error" ){ %>
                <script>
                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: '¡error!',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(({ value }) => {
                    });
                </script>
                <% } %>
                    <% if(success_msg=="deleted" ) { %>
                        <script>
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Eliminado correctamente!',
                                showConfirmButton: false,
                                timer: 1500
                            }).then(({ value }) => {
                            });
                        </script>
                        <% }%>
                            <script>
                                $("#capa").hover(function () {
                                    $("#mensaje").show();
                                }, function () {
                                    $("#mensaje").hide();
                                });
                            </script>
                            <div class="container mt-2 mb-4 col-11">
                                <div class="row" style="height: 30%;">
                                    <div class="col-3">
                                        <h3>Módulo de Usuarios</h3>
                                    </div>
                                </div>
                                <table class="table-bordered mb-2" style="width: 100%;">
                                    <thead style="font-size: 18px;">
                                        <tr>

                                            <th style="padding: 2%;" scope="col" class="text-whitex ">Usuario
                                            </th>
                                            <th scope="col" class="text-whitex ">Correo</th>
                                            <th scope="col" class="text-whitex "></th>

                                        </tr>
                                    </thead>
                                    <tbody style="background-color: rgb(255, 255, 255); font-size: 18px;">
                                        <% users.forEach((user)=>{ %>
                                            <tr class="tr">
                                                <td>
                                                    <div style="margin-left: 0.5%;">
                                                        <%=user.username%>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div style="margin-left: 0.5%;">
                                                        <%=user.email%>
                                                    </div>
                                                </td>
                                                <td id="contenedor">
                                                    <div id="boton">
                                                        <form action="/users/delete/<%=user._id%>" method="post">
                                                            <button type="danger " class="btn btn-danger btn-sm"><i
                                                                    class="material-icons">delete</i></button>
                                                        </form>
                                                        <button type="link" class="btn btn-success btn-sm"
                                                            onclick="window.location. href='/users/search/<%=user._id%>'"><i
                                                                class="material-icons">menu</i></button>
                                                    </div>
                                                </td>


                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-1">
                                        <button class="btn btn-success" >
                                            <a href="/users/create">Agregar</a>
                                        </button>
                                    </div>
                                    <div class="col-1">
                                        <button class="btn btn-danger">
                                            <a href="/">Regresar</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
    </div>
</body>

</html>