<!DOCTYPE html>
<html>
<header>
    <!--ZONA DEL NAVBAR-->
    <%- include('../navbar'); -%>
</header>
<script>
    function removeMessage() {
        localStorage.removeItem("message");
    }
</script>

<body style="height: 100vh !important;">
    <% if(typeof(status) !="undefined" ) { %>
        <% if(status==200 ) { %>
            <script>
                if (!localStorage.getItem("message")) {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: '<%-message%>',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    localStorage.setItem("message", 1);
                }
            </script>
            <% }else if(status!=200 ){ %>
                <script>
                    if (!localStorage.getItem("message")) {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: '<%-message%>',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        localStorage.setItem("message", 1);
                    }
                </script>
                <% } %>
                    <% } %>
                        <script>
                            $("#capa").hover(function () {
                                $("#mensaje").show();
                            }, function () {
                                $("#mensaje").hide();
                            });
                        </script>
                        <div class="card mt-2"
                            style="min-height: 69.5% !important; scrollbar-width: none !important; margin-left: 2%; margin-right: 2%; background-color: #e6e6e6;">

                            <div id="menu-container" class="menu-container">
                                <div id="menu" class="menu">
                                    <i id="expand" class="material-icons" style="font-size: 35px">menu_open</i>
                                </div>
                                <div class="flex-menu">
                                    <ul class="list-unstyled chat-list  mb-0">
                                        <ul class="list-group list-group-flush button flex-color">
                                            <a onclick="window.location. href='/users/create'" type="button"
                                                class="btn btn primary ">Agregar usuario</a>
                                        </ul>
                                        <ul class="list-group list-group-flush button flex-color">
                                            <a href="/companies/createCompany" type="button"
                                                class="btn btn primary ">Agregar
                                                compañía</a>
                                        </ul>
                                        <ul class="list-group list-group-flush button flex-color">
                                            <a href="/companies/showCompany" type="button"
                                                class="btn btn primary ">Atrás</a>
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                            <div class=" row text-dark table-responsive table-container"
                                style="margin-left: 0.5%; margin-bottom: 0.5%; scrollbar-width: none !important;">
                                <div class="row table-responsive table-container"
                                    style="margin-left: 0.5%; margin-bottom: 0.5%; scrollbar-width: none !important;">
                                    <h3 class="h2">Módulo de Usuarios</h3>
                                    <table id="tablax" class="table-bordered" style="background-color: white;">
                                        <thead style="background-color: rgba(26,145,125,255);">
                                            <tr class="text-center">
                                                <th>Usuario
                                                </th>
                                                <th>Correo</th>
                                                <th>Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% users.forEach((user)=>{ %>
                                                <tr class="tr">
                                                    <td>
                                                        <div style="margin-left: 0.5%;">
                                                            <%=user.username%>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div style="margin-left: 0.5%;">
                                                            <%=user.email%>
                                                        </div>
                                                    </td>
                                                    <td id="contenedor">
                                                        <div id="boton">
                                                            <form action="/users/delete/<%=user._id%>" method="post">
                                                                <button onclick="removeMessage()" type="danger "
                                                                    class="btn btn-danger btn-sm"><i
                                                                        class="material-icons">delete</i></button>
                                                            </form>
                                                            <button type="link" class="btn btn-success btn-sm"
                                                                onclick="window.location. href='/users/search/<%=user._id%>'"><i
                                                                    class="material-icons">menu</i></button>
                                                        </div>
                                                    </td>


                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
</body>
<footer class="bg-light text-center text-lg-start footer" style="margin-top: 5%;">
    <!-- Copyright -->
    <div class="text-center p-4">
        © 2022 Copyright: Porras & Vásquez
    </div>
    <!-- Copyright -->
</footer>

</html>