<!DOCTYPE html>
<html>
<header>
    <!--ZONA DEL NAVBAR-->
    <%- include('../navbar'); -%>
</header>

<body style="background-color: #f4ffec; height: 100vh !important;">
    <% if(success_msg=="updated" ) { %>
        <script>
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: '¡Actualizado exitosamente!',
                showConfirmButton: false,
                timer: 1500
            }).then(({ value }) => {
            });
        </script>
        <% }else if(error_msg=="error" ){ %>
            <script>
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: '¡error!',
                    showConfirmButton: false,
                    timer: 1500
                }).then(({ value }) => {
                });
            </script>
            <% } %>
                <% if(success_msg=="deleted" ) { %>
                    <script>
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Eliminado correctamente!',
                            showConfirmButton: false,
                            timer: 1500
                        }).then(({ value }) => {
                        });
                    </script>
                    <% }%>
                        <script>
                            $("#capa").hover(function () {
                                $("#mensaje").show();
                            }, function () {
                                $("#mensaje").hide();
                            });
                        </script>
                        <div class="card mt-2 mb-2x"
                            style="min-height: 86.5% !important; scrollbar-width: none !important; margin-left: 2%; margin-right: 2%; background-color: #c5dfbe;">

                            <div id="menu-container" class="menu-container">
                                <div id="menu" class="menu">
                                    <i id="expand" class="material-icons" style="font-size: 35px">menu_open</i>
                                </div>
                                <div class="flex-menu">
                                    <ul class="list-unstyled chat-list  mb-0">
                                        <ul class="list-group list-group-flush button flex-color">
                                            <a onclick="window.location. href='/users/create'" type="button"
                                                class="btn btn primary ">Agregar Usuario</a>
                                        </ul>
                                        <ul class="list-group list-group-flush button flex-color">
                                            <a href="/companies/createCompany" type="button"
                                                class="btn btn primary ">Agregar
                                                compañía</a>
                                        </ul>
                                        <ul class="list-group list-group-flush button flex-color">
                                            <a href="/companies/showCompany" type="button"
                                                class="btn btn primary ">Atrás</a>
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                            <div class="row table-responsive table-container"
                                style="margin-left: 0.5%; margin-bottom: 0.5%; scrollbar-width: none !important;">
                                <h3>Módulo de Usuarios</h3>
                                <table class="table-bordered" style="background-color: rgb(255, 255, 255);">
                                    <thead>
                                        <tr class="text-center">
                                            <th>Usuario
                                            </th>
                                            <th>Correo</th>
                                            <th>Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% users.forEach((user)=>{ %>
                                            <tr class="tr">
                                                <td>
                                                    <div style="margin-left: 0.5%;">
                                                        <%=user.username%>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div style="margin-left: 0.5%;">
                                                        <%=user.email%>
                                                    </div>
                                                </td>
                                                <td id="contenedor">
                                                    <div id="boton">
                                                        <form action="/users/delete/<%=user._id%>" method="post">
                                                            <button type="danger " class="btn btn-danger btn-sm"><i
                                                                    class="material-icons">delete</i></button>
                                                        </form>
                                                        <button type="link" class="btn btn-success btn-sm"
                                                            onclick="window.location. href='/users/search/<%=user._id%>'"><i
                                                                class="material-icons">menu</i></button>
                                                    </div>
                                                </td>


                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
</body>

</html>