<!DOCTYPE html>
<html lang="en">
<header>
    <!--ZONA DEL NAVBAR-->
    <%- include('../navbar'); -%>
</header>
<script>
    function removeMessage(){
        localStorage.removeItem("message");
    }
</script>
<body style="background-color: #f4ffec; height: 100vh !important;">
    <% if(typeof(status) !="undefined" ) { %>
        <% if(status==200 ) { %>
            <script>
                if (!localStorage.getItem("message")) {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: '<%-message%>',
                        showConfirmButton: false,
                        timer: 2000
                    });
                    localStorage.setItem("message", 1);
                }
            </script>
            <% }else if(status!=200 ){ %>
                <script>Fuente
                    if (!localStorage.getItem("message")) {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: '<%-message%>',
                            showConfirmButton: false,
                            timer: 2000
                        });
                        localStorage.setItem("message", 1);
                    }                                
                </script>
                <% } %>
                    <% } %>
                        <div class="card mt-2 mb-2x"
                            style="min-height: 86.5% !important; scrollbar-width: none !important; margin-left: 2%; margin-right: 2%; background-color: #c5dfbe;">
                            <div id="menu-container" class="menu-container">
                                <div id="menu" class="menu">
                                    <i id="expand" class="material-icons" style="font-size: 35px">menu_open</i>
                                </div>
                                <div class="flex-menu">
                                    <ul class="list-unstyled chat-list  mb-0">
                                        <ul class="list-group list-group-flush button flex-color">
                                            <a href="/companies/createCompany" type="button"
                                                class="btn btn primary ">Agregar compañía</a>
                                        </ul>
                                        <ul class="list-group list-group-flush button flex-color">
                                            <a href="/companies/showCompany" type="button"
                                                class="btn btn primary ">Atrás</a>
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                            <div class="row text-dark table-responsive table-container"
                                style="margin-left: 0.5%; margin-bottom: 0.5%; scrollbar-width: none !important;">
                                <!--Table-->
                                <table class="table-bordered" style="background-color: white;">
                                    <!--Table head-->
                                    <thead style="background-color: rgba(26,145,125,255);">
                                        <tr class="text-center">
                                            <th scope="col text-whitex">Alcance</th>
                                            <th scope="col text-whitex">Fuente generador</th>
                                            <th scope="col text-whitex">Cantidad</th>
                                            <th scope="col text-whitex">Unidad</th>
                                            <th scope="col text-whitex">Kg</th>
                                            <th scope="col text-whitex">Ton/Unidad</th>
                                            <th scope="col text-whitex">GEI</th>
                                            <th scope="col text-whitex">PCG</th>
                                            <th scope="col text-whitex">CO2</th>
                                            <th scope="col text-whitex">CH4</th>
                                            <th scope="col text-whitex">N2O</th>
                                        </tr>
                                    </thead>
                                    <!--Table head-->
                                    <!--Table body-->
                                    <tbody>
                                        <% emissions.forEach((emission)=>{ %>
                                            <tr class="text-center tr">
                                                <td>
                                                    <div>
                                                        <%=emission.alcance%>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <%=emission.fuente_generador%>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <%=emission.cantidad%>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <%=emission.unidad%>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <%=emission.kilogram%>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <%=emission.ton%>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <%=emission.gei%>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <%=emission.pcg%>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <% if(emission.co2 != 0) { %>
                                                            <%=emission.co2%>
                                                        <% }else { %>  
                                                            
                                                        <% } %> 
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <% if(emission.ch4 != 0) { %>
                                                            <%=emission.ch4%>
                                                        <% }else { %>  
                                                            
                                                        <% } %> 
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <% if(emission.n2o != 0) { %>
                                                            <%=emission.n2o%>
                                                        <% }else { %>  
                                                            
                                                        <% } %> 
                                                    </div>
                                                </td>
                                            </tr>
                                            <% }) %> 
                                    </tbody>
                                    <!--Table body-->
                                </table>
                                <!--Table-->
                            </div>
                        </div>
</body>

</html>