<!DOCTYPE html>
<html lang="en">
<header>
    <!--ZONA DEL NAVBAR-->
    <%- include('../navbar'); -%>
</header>

<body style="background-color: #f4ffec;">
    <div class="card mt-2 mb-2" style="margin-left: 2%; margin-right: 2%; background-color: #beb39c;">
        <div class="mt-2 mb-2 " style="margin-left: 2.5%;">
            <h3>Módulo de Gases LP</h3>
            <div class=" col-8 row text-dark">
                <table class="tablediferent table-bordered" style="background-color: white; margin-right: 10%;">
                    <thead>
                        <tr class="text-center">
                            <th scope="col text-whitex"> Descripción</th>
                            <th scope="col text-whitex"> Uso</th>
                            <th scope="col text-whitex"> Observación</th>
                            <th scope="col text-whitex"> Densidad</th>
                            <th scope="col text-whitex"> Enero</th>
                            <th scope="col text-whitex"> Febrero</th>
                            <th scope="col text-whitex"> Marzo</th>
                            <th scope="col text-whitex"> Abril</th>
                            <th scope="col text-whitex"> Mayo</th>
                            <th scope="col text-whitex"> Junio</th>
                            <th scope="col text-whitex"> Julio</th>
                            <th scope="col text-whitex"> Agosto</th>
                            <th scope="col text-whitex"> Septiembre</th>
                            <th scope="col text-whitex"> Octubre</th>
                            <th scope="col text-whitex"> Noviembre</th>
                            <th scope="col text-whitex"> Diciembre</th>
                            <th scope="col text-whitex"> Emisión</th>
                            <th scope="col text-whitex">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <script>
                            $("#capa").hover(function () {
                                $("#mensaje").show();
                            }, function () {
                                $("#mensaje").hide();
                            });
                        </script>
                        <% gases.forEach((gaslp)=>{ %>
                            <tr>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=gaslp.descripcion%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=gaslp.uso%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=gaslp.observacion%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=gaslp.densidad%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=gaslp.enero%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=gaslp.febrero%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=gaslp.marzo%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=gaslp.abril%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=gaslp.mayo%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=gaslp.junio%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=gaslp.julio%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=gaslp.agosto%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=gaslp.septiembre%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=gaslp.octubre%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=gaslp.noviembre%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        <%=gaslp.diciembre%>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 2%;">
                                        none
                                    </div>
                                </td>
                                <td>
                                    <div id="contenedor">
                                        <div id="boton">
                                            <button type="link" class="btn btn-success btn-sm"
                                                onclick="window.location. href='/gaseslp/searchGases/<%=gaslp._id%>'"><i
                                                    class="material-icons">menu</i></button>
                                            <form method="post">
                                                <button type="danger " class="btn btn-danger btn-sm"><i
                                                        class="material-icons">delete</i></button>
                                                <!-- action="/users/delete/<%=user._id%>"-->
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-1" style="margin-left: 1.5%;">
                <button type="button" style="margin-left: 2%;" class="btn btn-success mb-3">
                    <a href="/companies/createCompany">Agregar</a>
                </button>
            </div>
            <div class="col-1" style="margin-left: -1%;">
                <button type="button" style="margin-left: 2%;" class="btn btn-danger mb-3"
                    href="/companies/showCompany">
                    <a href="/companies/showCompany">Regresar</a>
                </button>
            </div>
        </div>


    </div>

    <div class="col-2"></div>
    </div>
</body>

</html>