<!DOCTYPE html>
<html>
<header>
    <!--ZONA DEL NAVBAR-->
    <%- include('../navbar'); -%>
</header>
<script>
    function removeMessage() {
        localStorage.removeItem("message");
    }
</script>

<body class="row bodyMedia4">
    <% if(typeof(status) !="undefined" ) { %>
        <% if(status==200) { %>
            <script>
                if (!localStorage.getItem("message")) {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: '<%-message%>',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    localStorage.setItem("message", 1);
                }  
            </script>
            <% }else if(status!=200){ %>
                <script>
                    if (!localStorage.getItem("message")) {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: '<%-message%>',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        localStorage.setItem("message", 1);
                    }  
                </script>
                <% } %>
                    <% } %>
                        <div class="col-1"></div>
                        <div class="col-10 card mt-3"
                            style="scrollbar-width: none !important; margin-left: 2%; margin-right: 2%; background-color: #e6e6e6;">
                            <!-- Menu desplegable con animacion -->
                            <div id="menu-container" class="menu-container">
                                <div id="menu" class="menu">
                                    <i id="expand" class="material-icons" style="font-size: 35px">menu_open</i>
                                </div>
                                <div class="flex-menu">
                                    <ul class="list-unstyled chat-list  mb-0">
                                        <ul class="list-group list-group-flush button flex-color">
                                            <a onclick="window.location. href='/gaseslp/gasesshow/<%=company._id%>'"
                                                type="button" class="btn btn primary ">Mostrar emisiones</a>
                                        </ul>
                                        <ul class="list-group list-group-flush button flex-color">
                                            <a href="/companies/createCompany" type="button"
                                                class="btn btn primary ">Agregar
                                                compañía</a>
                                        </ul>
                                        <ul class="list-group list-group-flush button flex-color">
                                            <a href="/companies/showCompany" type="button"
                                                class="btn btn primary ">Atrás</a>
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                            <!-- Content of form-->
                            <div class="row table-container">
                                <form action="/gaseslp/saveGas/<%=company._id%>" method="post" class="row"
                                    style="display: flex;">
                                    <div class="col-12">
                                        <h2 class="h2" style="margin-bottom: 1%;">Módulo Gases lp:
                                            Agregar</h2>
                                    </div>
                                    <div style="margin-left: 1%; margin-right: 2%;" class="col-2">
                                        <p class="p" type="Uso:">
                                            <input class="input" placeholder="Uso..." name="uso" required />
                                        </p>
                                        <p class="p" type="Observación:"><input class="input"
                                                placeholder="Observación..." name="observacion" required />
                                        </p>
                                        <p class="p" type="Densidad:"><input class="input"
                                                placeholder="Escriba el densidad" name="densidad"
                                                pattern="^[0-9]+\.?[0-9]*$"
                                                oninvalid="this.setCustomValidity('Este campo es obligatorio, no se permite el uso de comas, caracteres especiales, espacios o letras')"
                                                oninput="this.setCustomValidity('')" autocomplete="off" required />
                                        </p>
                                        <p class="p" type="PCG:"><input class="input" placeholder="Escriba el PCG"
                                                name="pcg" required pattern="^[0-9]+\.?[0-9]*$"
                                                oninvalid="this.setCustomValidity('Este campo es obligatorio, no se permite el uso de comas, caracteres especiales, espacios o letras')"
                                                oninput="this.setCustomValidity('')" autocomplete="off" /></p>
                                        <p class="p" type="Factor de emisión:"><input class="input"
                                                placeholder="Escriba el factor" name="factor"
                                                pattern="^[0-9]+\.?[0-9]*$"
                                                oninvalid="this.setCustomValidity('Este campo es obligatorio, no se permite el uso de comas, caracteres especiales, espacios o letras')"
                                                oninput="this.setCustomValidity('')" autocomplete="off" required />
                                        </p>

                                    </div>
                                    <div class="col-2" style="margin-left: 1%;">
                                        <p class="p" type="Datos emisión general">
                                            <select class="p2"
                                                style="padding-left: 3px; padding-bottom: 3px; margin-top: 10px;"
                                                name="gei" aria-placeholder="GEI" aria-label="Default select example">
                                                <option selected>
                                                    Seleccione
                                                </option>
                                                <option value="CO2">CO2</option>
                                                <option value="CH4">CH4</option>
                                                <option value="N2O">N2O</option>
                                            </select>
                                        </p>
                                        <p class="p" type="Unidad de medida:">
                                            <select class="p2"
                                                style="padding-left: 3px; padding-bottom: 3px; margin-top: 10px;"
                                                name="unidad" aria-placeholder="Unidad de medida"
                                                aria-label="Default select example">
                                                <option selected>
                                                    Seleccione
                                                </option>
                                                <option value="Kilogramo">Kilogramo</option>
                                                <option value="Litro">Litro</option>
                                                <option value="Otro">Otro</option>
                                            </select>
                                        </p>
                                    </div>
                                    <div class="col-5" style="margin-left: 1%;">
                                        <div class="row">
                                            <div class="col-12">
                                                <h3 class="mt-2 letterTittleMounth">
                                                    Consumo por mes
                                                </h3>
                                            </div>
                                            <div class="col-3">
                                                <div class="mb-1 text-center">
                                                    <label for="exampleInputEmail1"
                                                        class="form-label text p2">ENE</label>
                                                    <input type="text" pattern="^[0-9]+\.?[0-9]*$"
                                                        oninvalid="this.setCustomValidity('No se permite el uso de comas, caracteres especiales, espacios o letras.')"
                                                        oninput="this.setCustomValidity('')" autocomplete="off"
                                                        name="enero" class="textarea form-control" required />
                                                </div>
                                                <div class="mb-1 text-center">
                                                    <label for="exampleInputEmail1" class="form-label p2">FEB</label>
                                                    <input type="text" pattern="^[0-9]+\.?[0-9]*$"
                                                        oninvalid="this.setCustomValidity('No se permite el uso de comas, caracteres especiales, espacios o letras.')"
                                                        oninput="this.setCustomValidity('')" autocomplete="off"
                                                        name="febrero" class="textarea form-control" required />
                                                </div>
                                                <div class="mb-1 text-center">
                                                    <label for="exampleInputEmail1" class="form-label p2">MAR</label>
                                                    <input type="text" pattern="^[0-9]+\.?[0-9]*$"
                                                        oninvalid="this.setCustomValidity('No se permite el uso de comas, caracteres especiales, espacios o letras.')"
                                                        oninput="this.setCustomValidity('')" autocomplete="off"
                                                        name="marzo" class="textarea form-control" required />
                                                </div>
                                                <div class="mb-1 text-center">
                                                    <label for="exampleInputEmail1" class="form-label p2">ABR</label>
                                                    <input type="text" pattern="^[0-9]+\.?[0-9]*$"
                                                        oninvalid="this.setCustomValidity('No se permite el uso de comas, caracteres especiales, espacios o letras.')"
                                                        oninput="this.setCustomValidity('')" autocomplete="off"
                                                        name="abril" class="textarea form-control" required />
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="mb-1 text-center">
                                                    <label for="exampleInputEmail1" class="form-label p2">MAY</label>
                                                    <input type="text" pattern="^[0-9]+\.?[0-9]*$"
                                                        oninvalid="this.setCustomValidity('No se permite el uso de comas, caracteres especiales, espacios o letras.')"
                                                        oninput="this.setCustomValidity('')" autocomplete="off"
                                                        name="mayo" class="textarea form-control" required />
                                                </div>
                                                <div class="mb-1 text-center">
                                                    <label for="exampleInputEmail1" class="form-label p2">JUN</label>
                                                    <input type="text" pattern="^[0-9]+\.?[0-9]*$"
                                                        oninvalid="this.setCustomValidity('No se permite el uso de comas, caracteres especiales, espacios o letras.')"
                                                        oninput="this.setCustomValidity('')" autocomplete="off"
                                                        name="junio" class="textarea form-control" required />
                                                </div>
                                                <div class="mb-1 text-center">
                                                    <label for="exampleInputEmail1" class="form-label p2">JUL</label>
                                                    <input type="text" pattern="^[0-9]+\.?[0-9]*$"
                                                        oninvalid="this.setCustomValidity('No se permite el uso de comas, caracteres especiales, espacios o letras.')"
                                                        oninput="this.setCustomValidity('')" autocomplete="off"
                                                        name="julio" class="textarea form-control" required />
                                                </div>
                                                <div class="mb-1 text-center">
                                                    <label for="exampleInputEmail1" class="form-label p2">AGO</label>
                                                    <input type="text" pattern="^[0-9]+\.?[0-9]*$"
                                                        oninvalid="this.setCustomValidity('No se permite el uso de comas, caracteres especiales, espacios o letras.')"
                                                        oninput="this.setCustomValidity('')" autocomplete="off"
                                                        name="agosto" class="textarea form-control" required />
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="mb-1 text-center">
                                                    <label for="exampleInputEmail1" class="form-label p2">SET</label>
                                                    <input type="text" pattern="^[0-9]+\.?[0-9]*$"
                                                        oninvalid="this.setCustomValidity('No se permite el uso de comas, caracteres especiales, espacios o letras.')"
                                                        oninput="this.setCustomValidity('')" autocomplete="off"
                                                        name="septiembre" class="textarea form-control" required />
                                                </div>
                                                <div class="mb-1 text-center">
                                                    <label for="exampleInputEmail1" class="form-label p2">OCT</label>
                                                    <input type="text" pattern="^[0-9]+\.?[0-9]*$"
                                                        oninvalid="this.setCustomValidity('No se permite el uso de comas, caracteres especiales, espacios o letras.')"
                                                        oninput="this.setCustomValidity('')" autocomplete="off"
                                                        name="octubre" class="textarea form-control" required />
                                                </div>
                                                <div class="mb-1 text-center">
                                                    <label for="exampleInputEmail1" class="form-label p2">NOV</label>
                                                    <input type="text" pattern="^[0-9]+\.?[0-9]*$"
                                                        oninvalid="this.setCustomValidity('No se permite el uso de comas, caracteres especiales, espacios o letras.')"
                                                        oninput="this.setCustomValidity('')" autocomplete="off"
                                                        name="noviembre" class="textarea form-control" required />
                                                </div>
                                                <div class="mb-1 text-center">
                                                    <label for="exampleInputEmail1" class="form-label p2">DIC</label>
                                                    <input type="text" pattern="^[0-9]+\.?[0-9]*$"
                                                        oninvalid="this.setCustomValidity('No se permite el uso de comas, caracteres especiales, espacios o letras.')"
                                                        oninput="this.setCustomValidity('')" autocomplete="off"
                                                        name="diciembre" class="textarea form-control" required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btnContainer mb-4">
                                        <input onclick="removeMessage()" type="submit" name="CompanyController"
                                            class="btn btn-success" value="Guardar">
                                        <button type="button" class="btn btn-danger">
                                            <a href='/companies/showCompany'>Cancelar</a>
                                        </button>
                                    </div>
                                </form>
                            </div>

                        </div>
                        </div>
</body>
<footer class="bg-light text-center text-lg-start footer mt-2">
    <!-- Copyright -->
    <div class="text-center p-4">
        © 2022 Copyright: Porras & Vásquez
    </div>
    <!-- Copyright -->
</footer>

</html>